.btn{
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #FFF;
  color: #575756;
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
  padding: 6px 24px;
  transition: all .3s;
  @media (max-width: 1921px) {
    border-radius: sizeP(8);
    border: sizeP(1) solid #CCC;
    font-size: sizeP(17);
    padding: sizeP(6) sizeP(24);
  }
  @media (max-width: $sizeTablet) {
    border-radius: sizeT(8);
    border: sizeT(1) solid #CCC;
    font-size: sizeT(15);
    padding: sizeT(3) sizeT(12);
  }
  @media (max-width: $sizeMobile) {
    border-radius: size(8);
    border: size(1) solid #CCC;
    font-size: size(15);
    padding: size(3) size(12);
  }
  &:hover{
    border-color: #FF8A00;
  }
}
.lb-text-danger {
  display: inline-block;
  padding: 4px 8px;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 8px;
  background: #DA2462;
  @media (max-width: 1921px) {
    padding: sizeP(4) sizeP(8);
    font-size: sizeP(13);
    border-radius: sizeP(8);
  }
  @media (max-width: $sizeTablet) {
    padding: sizeT(4) sizeT(8);
    font-size: sizeT(13);
    border-radius: sizeT(8);
  }
  @media (max-width: $sizeMobile) {
    padding: size(4) size(8);
    font-size: size(13);
    border-radius: size(8);
  }
}

.lb-default {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 8px;
  border: 2px solid #F7941D;
  background: #6FBE44;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  @media (max-width: 1921px) {
    padding: sizeP(10) sizeP(32);
    border-radius: sizeP(8);
    border: sizeP(2) solid #F7941D;
    font-size: sizeP(28);
  }
  @media (max-width: $sizeTablet) {
    padding: sizeT(5) sizeT(12);
    border-radius: sizeT(8);
    border: sizeT(1) solid #F7941D;
    font-size: sizeT(13);
  }
  @media (max-width: $sizeMobile) {
    padding: size(5) size(12);
    border-radius: size(8);
    border: size(1) solid #F7941D;
    font-size: size(13);
  }
}

.popup-noty {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 999;
  padding: 8px 16px;
  width: 270px;
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #FFF;

  .wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      width: 24px;

      svg {
        width: 100%;
        height: auto;
      }
    }

    .content {
      flex: 1;
      font-size: 17px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &.success {
    color: #6FBE44;
  }

  &.danger {
    color: #DA2462;
  }
}

.wrap_product_search {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 60px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-height: 350px;
  overflow: auto;
  @media (max-width: 1921px) {
    box-shadow: 0px sizeP(4) sizeP(12) 0px rgba(0, 0, 0, 0.25);
    top: sizeP(60);
    border-radius: sizeP(8);
    max-height: sizeP(350);
    padding: sizeP(15);
  }
  @media (max-width: $sizeTablet) {
    box-shadow: 0px sizeT(4) sizeT(12) 0px rgba(0, 0, 0, 0.25);
    border-radius: sizeT(8);
    max-height: sizeT(350);
    top: sizeT(50);
    padding: sizeT(15);
  }
  @media (max-width: $sizeMobile) {
    box-shadow: 0px size(4) size(12) 0px rgba(0, 0, 0, 0.25);
    border-radius: size(8);
    max-height: size(350);
    top: size(50);
    padding: size(15);
  }

  ul {
    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 1921px) {
          margin-bottom: sizeP(15);
        }
        @media (max-width: $sizeTablet) {
          margin-bottom: sizeT(15);
        }
        @media (max-width: $sizeMobile) {
          margin-bottom: size(15);
        }

        img {
          width: 70px;
          height: auto;
          object-fit: cover;
          object-position: center;
          @media (max-width: 1921px) {
            width: sizeP(70);
          }
          @media (max-width: $sizeTablet) {
            width: sizeT(60);
          }
          @media (max-width: $sizeMobile) {
            width: size(60);
          }
        }

        .content {
          width: calc(100% - 85px);
          display: flex;
          flex-direction: column;
          font-size: 17px;
          font-weight: 600;
          color: #575756;
          @media (max-width: 1921px) {
            width: calcP(100%, 85);
            font-size: sizeP(17);
          }
          @media (max-width: $sizeTablet) {
            width: calcT(100%, 75);
            font-size: size(14);
          }
          @media (max-width: $sizeMobile) {
            width: calcM(100%, 75);
            font-size: size(13);
          }

          .name {
            @include line_text(2);
          }

          .price {
            color: #6FBE44;
          }
        }
      }
    }
  }
}

.dropdown-filter {
  .dropdown-toggle{
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 0;
    &::after{
      display: none;
    }
    &.show{
      svg{
        transform: rotate(180deg);
      }
    }
    svg{
      width: 32px;
      height: auto;
      transition: all .3s;
      @media (max-width: 1921px) {
        width: sizeP(32);
      }
      @media (max-width: $sizeTablet) {
        width: sizeT(20);
      }
      @media (max-width: $sizeMobile) {
        width: size(20);
      }
    }
  }
  .dropdown-menu{
    padding: 12px;
    gap: 32px;
    width: 800px;
    border-radius: 8px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14);
    background: #FFF;
    @media (max-width: 1921px) {
      width: sizeP(800);
      padding: sizeP(12);
      gap: sizeP(32);
    }
    @media (max-width: $sizeTablet) {
      width: sizeT(600);
      padding: sizeT(12);
      gap: sizeT(32);
    }
    @media (max-width: $sizeMobile) {
      width: size(300);
      padding: size(12);
      gap: size(32);
    }
  }
  .form-check{
    //width: calc(33% - 12px);
    //@media (max-width: 1921px) {
    //  width: calcP(33%, 12);
    //}
    //@media (max-width: $sizeTablet) {
    //  width: calcT(33%, 12);
    //}
    //@media (max-width: $sizeMobile) {
    //  width: 100%;
    //}
    .form-check-input{
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #CCC;
      background: #FFF;
      cursor: pointer;
      &:checked{
        background-color: rgba(111, 190, 68, 1);
        border-color: rgba(111, 190, 68, 1);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m6 10 3 3 6-6"/></svg>');
      }
      &:focus{
        box-shadow: none;
      }
    }
    .form-check-label{
      @include line_text(3);
      color: #706F6F;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      @media (max-width: 1921px) {
        font-size: sizeP(16);
      }
      @media (max-width: $sizeTablet) {
        font-size: sizeT(16);
      }
      @media (max-width: $sizeMobile) {
        font-size: size(16);
      }
    }
  }
  .wrap{
    //display: flex;
    //flex-wrap: wrap;
    padding: 0 16px;
    @media (max-width: 1921px) {
      padding: 0 sizeP(16);
    }
    @media (max-width: $sizeTablet) {
      padding: 0 sizeT(12);
    }
    @media (max-width: $sizeMobile) {
      padding: 0 size(12);
    }
  }
}
