.bl-main{
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  // Variables
  $primary-color: #1677ff;
  $text-muted: rgba(0, 0, 0, 0.65);
  $bg-light: #f7f9fc;
  $white: #fff;

  // Main container
  .login-wrapper-verify{
    min-height: 100vh;
    background-size: cover;
    .header{
      padding: 40px 0 70px;
      .lang{
        a {
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          display: flex;
          align-items: center;
          gap: 4px;
          &::after{
            display: none;
          }
        }
      }
    }
    .main{
      .wrap-back{
        margin-bottom: 10px;
        a{
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          color: #1677FF;
        }
      }
      .wrap-verify{
        padding: 32px 16px;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
        max-width: 640px;
        margin: auto;
        .icon{
          margin-bottom: 28px;
        }
        .title{
          font-size: 38px;
          font-weight: 600;
          line-height: 46px;
          margin-bottom: 12px;
        }
        .description{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          max-width: 500px;
          margin: 0 auto 24px;
          a{
            color: #1677FF;
            text-decoration: underline;
          }
        }
        .countdown{
          width: 320px;
          max-width: 100%;
          padding: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: 1px solid #D9D9D9;
          background: #FFF;
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin: 0 auto 24px;
          a{
            color: #1677FF;
          }
        }
        .support{
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          max-width: 500px;
          margin: 0 auto 24px;
          a{
            color: #1677FF;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .login-wrapper {
    min-height: 100vh;
    background-color: $bg-light;

    .row {
      min-height: 100vh;
    }

    .login-left {
      background-color: $white;
      padding: 60px 24px 30px;
      .wrapper {
        height: 100%;
        .content-main {
          flex: 1;
          width: 360px;
          max-width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .content{
            width: 100%;
          }
          .title{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 8px;
          }
          .logo {
            margin: 0 0 20px;
            svg {
              max-width: 100%;
              height: auto;
            }
          }

          .login-title{
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
          }

          .login-form {
            margin-top: 16px;
            .wrap-form{
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 16px;
              .form-group{
                width: 100%;
                .group{
                  position: relative;
                  .icon-action{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 12px;
                    svg{
                      width: 16px;
                      height: 16px;
                    }
                    &.icon-action-eye{
                      cursor: pointer;
                      svg{
                        path{
                          fill: #00000073;
                        }
                      }
                    }
                  }
                  .form-control{
                    padding-right: 32px;
                  }
                }
              }
            }
            .form-label{
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 4px;
            }
            .form-control {
              min-height: 40px;
              &::placeholder {
                color: rgba(0, 0, 0, 0.25);
              }
              &:focus{
                box-shadow: unset;
              }
            }

            .form-check{
              .form-check-label{
                color:rgba(0, 0, 0, 0.65);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
              }
            }

            .error-message{
              margin-top: 6px;
              color: #F5222D;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 157.143% */
            }

            .text-policy{
              a{
                color: #1677FF;
                text-decoration: underline;
              }
            }

            .btn-continue {
              height: 40px;
            }
          }

          .social-login {
            margin: 32px 0;
            > * {
              width: 100%;
            }
            .w-social.flex-row {
              > * {
                flex: 1;
              }
            }
            .social-title{
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
            }
            a {
              border-radius: 8px;
              background: #F3F9FA;
              height: 40px;
              transition: all 0.3s ease;
              font-size: 16px;
              svg {
                margin-right: 8px;
              }

              &:hover {
                background-color: #e6ebf1;
                outline: 0;
                border-color: transparent;
              }
              &:focus{
                outline: 0;
                box-shadow: unset;
                border-color: transparent;
              }
            }
          }
          .text-register{
            a{
              color: #1677FF;
              font-weight: 600;
            }
          }
        }
        .content-footer{
          width: 450px;
          max-width: 100%;
          margin: 0 auto;
          .sub-text {
            justify-content: space-between;
            a {
              color: rgba(0, 0, 0, 0.65);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              display: flex;
              align-items: center;
              gap: 4px;
              &::after{
                display: none;
              }
            }
          }

          .copyright {
            font-size: 12px;
            color: $text-muted;
          }
        }
      }
    }

    .login-right {
      background-size: 100% 100%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px;
      .wrapper {
        .content{
          max-width: 450px;
          margin: 0 auto;
          .logo {
            margin-bottom: 80px;
            svg {
              max-width: 100%;
              height: auto;
            }
          }

          .banner {
            text-align: center;
            margin-bottom: 50px;

            img {
              max-width: 100%;
              height: auto;
            }
          }

          .right-title {
            color: #FFF;
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 38px;
            margin-bottom: 24px;
          }

          .right-desc {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }

}