.nav {
  .nav-item {
    .nav-link-img-text {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      align-items: center;
      margin-right: 30px;
      transition: all .3s;

      img {
        width: 40px;
        margin-right: 10px;
      }

      span {

      }

      &.active {
        border-bottom: 2px solid #94C459;
      }
    }

    &:last-child {
      .nav-link-img-text {
        margin-right: 0;
      }
    }
  }
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: #86b7fe;
  box-shadow: unset;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  border-radius: 0;
  min-height: 34px;
  font-size: 14px;
  @media (max-width: 850px) {
    font-size: 12px;
  }

  &:focus {
    box-shadow: unset;
  }
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-size: 14px;
  @media (max-width: 850px) {
    font-size: 12px;
  }
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  color: #fff;
  background-color: #f39200;
}

.card_invoice {
  border: 1px solid #525251;
  padding: 30px;
  @media (max-width: 767px) {
    padding: 15px;
  }

  .card_header_title {
    padding-top: 50px;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 50px;
    @media (max-width: 767px) {
      padding-top: 30px;
      font-size: 20px;
      padding-bottom: 40px;
    }
  }

  .card_logo {
    img {
      width: 200px;
      @media (max-width: 767px) {
        width: 100px;
      }
    }
  }

  .wrap_table {
    .table {
      th, td {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .card_body_info {
    .label_style-line {
      padding: 5px 10px;
    }

    .info_left {
      > * {
        margin-right: 30px;
        @media (max-width: 767px) {
          margin-right: 15px;
        }
      }

      .form-control {
        width: 100px;
        text-align: center;

        &:disabled {
          background-color: #fff;
        }
      }
    }

    .info_left_content {
      > * {
        margin-right: 30px;
        @media (max-width: 767px) {
          margin-right: 15px;
        }
      }

      .label {
        min-width: 130px;
      }
    }

    .info_right {
      .qr {
        width: 130px;
      }
    }
  }

  .card_footer_info {
    font-size: 12px;
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }
}

.section_form_login {
  padding: 80px 0;

  hr {
    border-radius: 16px;
    max-width: 230px;
    margin: 52px auto 52px;
    border-top: 5px solid #D5D7DB;
  }

  .card_forms {
    width: 735px;
    max-width: 100%;
    margin: 0 auto;
  }

  .card_forms {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.20);
    padding: 40px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
    .card_logo{
      text-align: center;
      margin-bottom: 48px;
      img{
        height: 84px;
      }
    }

    .card_title {
      color: #6D727B;
      text-align: center;
      font-size: 27px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 48px;
    }

    .card_label, .lb-small {
      padding: 20px 32px;
      border-radius: 16px;
      border-radius: 16px;
      border: 2px solid #F7941D;
      background: #6FBE44;
      color: #FFF;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 32px;
    }
    .lb-small{
      display: inline-block;
      width: 100%;
    }

    .card_form {
      .form-group {
        margin-bottom: 24px;

        .form-label {
          color: #6D727B;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
        }

        .form-control {
          color: #6D727B;
          font-size: 16px;
          font-weight: 400;
          min-height: 50px;
          border-radius: 16px;
          border: 1px solid var(--gray3, #989B9F);
          background: #FFF;
          padding: 14px 24px;
        }

        .text-forgot {
          display: inline-block;
          padding-top: 12px;
          color: #4CAF50;
          font-size: 16px;
          font-weight: 400;
        }

        &.m-end {
          margin-top: 50px;
        }
      }
    }

    .wrap_btn_full {
      .btn {
        width: 100%;
        text-align: center;
      }
    }
  }
  .lb-small-success{
    border: 0;
    margin-top: 30px;
    padding: 16px 50px;
    display: inline-block;
    border-radius: 16px;
    background: var(--orange, #F7941D);
    color: var(--white, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
  }
}
.section_config_order{
  .list-group{
    .list-group-item{
      border: 0;
      .w_item{
        gap: 16px;
        .form-check{
          width: 58px;
        }
        .wrap{
          border-radius: 8px;
          background: #F7F7F7;
          padding: 8px 32px;
          flex: 1;
          display: flex;
          align-items: center;
          gap: 32px;
          .name, .cate{
            flex: 1;
          }
          .number{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #6FBE44;
            color: #FFF;
            text-align: center;
            font-weight: 700;
            line-height: 150%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .btn-sortable{
          &:hover{
            svg{
              path{
                fill: #f39200;
              }
            }
          }
        }
      }
      .w_edit{
        margin-top: 15px;
        display: none;
        border: 1px solid #545456;
        padding: 15px;
        position: relative;
        &.active{
          display: block;
        }
        .w_edit_main{
          width: 100%;
          .current{
            .label{
              font-weight: bold;
              margin-bottom: 10px;
            }
            .content{
              .form-group{
                border: 1px solid #dee2e6;
                padding: 10px 0 10px 10px;
                margin-right: 15px;
                .form-label{
                  white-space: nowrap;
                  margin-bottom: 0;
                  margin-right: 10px;
                }
                .form-select{
                  border: 0;
                  padding: 0;
                  font-size: 14px;
                  line-height: 14.4px;
                  padding-right: 40px;
                  justify-content: space-between;
                  option{
                    text-align: center;
                  }
                }
              }
            }
            .c_title{
              .label{
                margin-bottom: 0;
                margin-right: 10px;
              }
            }

          }
          .change{
            .label{
              font-weight: bold;
              margin-bottom: 10px;
            }
            .content{
              .form-group{
                border: 1px solid #dee2e6;
                padding: 10px 0 10px 10px;
                margin-right: 15px;
                .form-label{
                  white-space: nowrap;
                  margin-bottom: 0;
                  margin-right: 10px;
                }
                .form-select{
                  border: 0;
                  padding: 0;
                  font-size: 14px;
                  line-height: 14.4px;
                  padding-right: 40px;
                  justify-content: space-between;
                  option{
                    text-align: center;
                  }
                }
              }
            }
          }
          .item_banner{
            margin-bottom: 10px;
            flex: 0;
            margin-right: 20px;
            .name{
              min-width: 55px;
              margin-right: 15px;
            }
            .img_banner_main{
              width: 104px;
              height: 36px;
              object-fit: cover;
              object-position: center;
            }
          }
          .item_group_banner{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            .label{
              margin-right: 10px;
            }
            .group{
              img{
                height: 30px;
              }
            }
          }
          .item_upload_image{
            margin-bottom: 15px;
            .name{
              width: 50px;
            }
            .group {
              min-width: 150px;
              max-width: 100%;
              position: relative;
              background-color: #F6F6F6;
              padding: 1px;
              border: 1px solid #DADADA;
              margin-right: 10px;
              .icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #dee2e63d;
                border: 1px solid #DADADA;

                i {
                  font-size: 22px;

                  &.icofont-clip {
                    transform: rotate(-44deg);
                  }
                }
              }

              .form-control {
                &.inp_icon {
                  padding-left: 45px;
                }
              }

              .group_info {
                .label {
                  padding-left: 6px;
                  white-space: nowrap;
                  margin-right: 8px;
                }
              }

              .label_file_banner_main {
                display: block;
                border-radius: 0;
                min-height: 34px;
                background-color: #fff;
                padding: 5px 15px 5px 45px;
              }
            }
            .img_uploaded{
              width: 50px;
              height: 30px;
              object-fit: cover;
              object-position: center;
            }
          }
          .w_current{
            margin-right: 30px;
            .current_select{
              .form-group{
                margin-bottom: 10px;
                .form-select{
                  min-width: 225px;
                  height: 28px;
                  padding: 4px 34px 4px 10px;
                  font-size: 14px;
                  line-height: 14.4px;
                  text-align: center;
                  border-radius: 5px;
                }
              }
            }
          }
          .w_change{
            .change_select{
              .form-group{
                margin-bottom: 10px;
                .form-select{
                  min-width: 225px;
                  height: 28px;
                  padding: 4px 34px 4px 10px;
                  font-size: 14px;
                  line-height: 14.4px;
                  text-align: center;
                  border-radius: 5px;
                }
              }
            }
            .change_banner{
              padding-left: 15px;
              display: flex;
              flex-wrap: wrap;
              .form-group{
                margin-bottom: 15px;
                flex: 0;
                margin-right: 30px;
                .form-label{
                  margin-right: 15px;
                  white-space: nowrap;
                }
                .group {
                  min-width: 130px;
                  max-width: 100%;
                  position: relative;
                  background-color: #F6F6F6;
                  padding: 1px;
                  border: 1px solid #DADADA;
                  .icon {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 34px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #dee2e63d;
                    border: 1px solid #DADADA;

                    i {
                      font-size: 22px;

                      &.icofont-clip {
                        transform: rotate(-44deg);
                      }
                    }
                  }

                  .form-control {
                    &.inp_icon {
                      padding-left: 45px;
                    }
                  }

                  .group_info {
                    .label {
                      padding-left: 6px;
                      white-space: nowrap;
                      margin-right: 8px;
                    }
                  }

                  .label_file_banner_main {
                    display: block;
                    border-radius: 0;
                    min-height: 34px;
                    background-color: #fff;
                    padding: 5px 15px 5px 45px;
                  }
                }
              }
            }
            .change_group_banner{
              padding-left: 15px;
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
        .w_edit_banner{
          .w_current{
            width: 50%;
          }
          .w_change{
            width: 50%;
            .item_group_banner{
              margin-bottom: 10px;
              flex: 0;
              margin-right: 25px;
              padding: 10px;
              transition: all .3s;
              border: 1px solid transparent;
              border-radius: 10px;
              cursor: pointer;
              &.active, &:hover{
                border-color: #8AC868;
              }
              .label{
                white-space: nowrap;
              }
              .group{
                img{
                  width: 120px;
                  height: 36px;
                }
              }
            }
          }
        }
        .wrap_content_choose{
          .w_edit_main{
            padding-right: 15px;
            width: 250px;
            position: relative;
            @media (max-width: 991px) {
              width : 100%;
            }
            &::after{
              content: '';
              width: 1px;
              height: calc(100% + 30px);
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background-color: #545456;
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
          .wrap_choose_product{
            width: calc(100% - 260px);
            padding-left: 25px;
            @media (max-width: 991px) {
              width : 100%;
              padding-left: 0px;
            }
            .form-group{
              margin-right: 10px;
              margin-bottom: 10px;
              width: 12%;
            }
          }
        }
        .wrap_save{
          a{
            background-color: #8AC868;
            border: 1px solid #F7941D;
            color: #fff;
            border-radius: 10px;
            min-height: 33px;
            display: inline-block;
            padding: 5px 20px;
          }
        }
        .btn_close{
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }
  }
}