.footer {
  .footer_top {
    padding: 40px 0;
    background: linear-gradient(0deg, rgba(33, 150, 243, 0.20) 0%, rgba(33, 150, 243, 0.20) 100%), #FFF;
    @media (max-width: 1440px) {
      padding: sizeP(40) 0;
    }
    @media (max-width: 991px) {
      padding: size(34) 0;
    }
    .wrapper {
      .wrapper-left {
        width: calc(100% - 444px);
        @media (max-width: 1440px) {
          $s444p: sizeP(444);
          width: calc(100% - $s444p);
        }
        @media (max-width: 991px) {
          width: 100%;
        }
        .row {
          margin-bottom: 32px;
          @media (max-width: 1440px) {
            margin-bottom: sizeP(32);
          }
          @media (max-width: 991px) {
            margin-bottom: 0;
          }
        }
      }

      .wrap_info {
        color: $--gray;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        @media (max-width: 1440px) {
          font-size: sizeP(16);
        }
        @media (max-width: 991px) {
          font-size: size(14);
          margin-bottom: size(18);
        }
        ul {
          li {
            margin-bottom: 8px;
            @media (max-width: 1440px) {
              margin-bottom: sizeP(8);
            }
            @media (max-width: 991px) {
              margin-bottom: size(8);
            }
            &:last-child {
              margin-bottom: 0;
            }

            a {
              &.btn_change_lang {
                svg {
                  margin-left: 5px;
                  width: 24px;
                  height: 24px;
                  @media (max-width: 1440px) {
                    margin-left: sizeP(5);
                    width: sizeP(24);
                    height: sizeP(24);
                  }
                  @media (max-width: 991px) {
                    margin-left: size(5);
                    width: size(16);
                    height: size(16);
                  }
                }

                &:after {
                  display: none;
                }
              }
            }
            .dropdown-menu .dropdown-item {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            .dropdown-menu {
              .dropdown-item {
                display: flex;
                flex-direction: row;
                align-items: center;

                .flag {
                  width: 47.761px;
                  height: 32px;
                  border-radius: 4px;
                  object-fit: cover;
                  object-position: center;
                  margin-right: 8px;
                  @media (max-width: 1440px) {
                    width: sizeP(47.761);
                    height: sizeP(32);
                    border-radius: sizeP(4);
                    margin-right: sizeP(8);
                  }
                  @media (max-width: 991px) {
                    width: size(23.881);
                    height: size(16);
                    border-radius: size(4);
                    margin-right: size(4);
                  }
                }

                span {
                  color: $--gray;
                  font-size: 15px;
                  font-weight: 700;
                  line-height: 120%;
                  @media (max-width: 1440px) {
                    font-size: sizeP(15);
                  }
                  @media (max-width: 991px) {
                    font-size: size(12);
                  }
                }
              }
            }
          }
        }
      }

      .social {
        @media (max-width: 991px) {
          margin-bottom: size(18);
        }
        a {
          margin-right: 16px;
          @media (max-width: 1440px) {
            margin-right: sizeP(16);
          }
          @media (max-width: 991px) {
            margin-right: size(8);
            margin-bottom: size(8);
          }
          img {
            width: auto;
            height: 56px;
            @media (max-width: 1440px) {
              height: sizeP(56);
            }
            @media (max-width: 991px) {
              height: size(64);
            }
          }

        }
        .w_social{
          img {
            @media (max-width: 991px) {
              height: size(40);
            }
          }
        }
        .text {
          color: $--gray;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          @media (max-width: 1440px) {
            font-size: sizeP(16);
            line-height: sizeP(24);
          }
          @media (max-width: 991px) {
            font-size: size(16);
            line-height: size(24);
          }
        }
      }

      .map {
        img {
          width: 420px;
          max-width: 100%;
          @media (max-width: 1440px) {
            width: sizeP(420);
          }
          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }
    }
  }

  .footer_bottom {
    padding: 12px 0;
    background: $--primary;
    @media (max-width: 1440px) {
      padding: sizeP(12) 0;
    }
    @media (max-width: 991px) {
      padding: size(12) 0;
    }
    .copyright {
      text-align: right;
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      @media (max-width: 1440px) {
        font-size: sizeP(14);
        line-height: sizeP(20);
      }
      @media (max-width: 991px) {
        text-align: center;
        font-size: size(14);
        line-height: size(20);
      }
    }
  }
}
