.footer {
  //border-top: 1px solid;
  //@media (max-width: 1440px) {
  //  border-top: sizeP(1) solid;
  //}
  //@media (max-width: $sizeMb) {
  //  border-top: size(1) solid;
  //}
  //border-color: rgb(199, 199, 199);
  //&.footer_w{
  //  border-color: rgb(233 233 233);
  //}\
  .scroll-top{
    color: #FFF;
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    background-color: #3B91B2;
    @media (max-width: 1440px) {
      padding: sizeP(15) 0;
      font-size: sizeP(14);
    }
    @media (max-width: $sizeTablet) {
      padding: sizeT(10) 0;
      font-size: sizeT(12);
    }
    @media (max-width: $sizeMb) {
      padding: size(10) 0;
      font-size: size(12);
    }
    &:hover{
      opacity: .9;
    }
  }
  .footer_top {
    //background: linear-gradient(180deg, rgb(79 156 183) 0%, rgba(74, 154, 183, 0.85) 16%, rgba(74, 154, 183, 0.48) 55%, rgba(74, 154, 183, 0.17) 80%, rgba(74, 154, 183, 0) 91%, rgba(71, 149, 199, 0) 77%, rgba(33, 150, 243, 0) 76%);
    background: #75c0db;
    &.footer_top_w{
      background: #f0f8fd;
    }
    @media (max-width: $sizeMb) {
      background: linear-gradient(0deg, rgba(33, 150, 243, 0.2), rgba(33, 150, 243, 0.2));
    }
    .text-connect{
      color: $--gray-1;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      @media (max-width: 1440px) {
        font-size: sizeP(16);
        line-height: sizeP(24);
      }
      @media (max-width: $sizeTablet) {
        font-size: sizeT(16);
        line-height: sizeT(24);
      }
      @media (max-width: $sizeMb) {
        font-size: size(16);
        line-height: size(24);
      }
    }
    .wrapper {
      .wrap_logo{
        @media (max-width: $sizeMb) {
          margin-bottom: size(18);
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img{
          @media (max-width: $sizeTablet) {
            height: sizeT(64);
          }
          @media (max-width: $sizeMb) {
            height: size(64);
          }
        }
      }
      .wrapper-left {
        flex: 1;
      }

      .wrap_info {
        color: $--gray-1;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        @media (max-width: 1440px) {
          font-size: sizeP(16);
        }
        @media (max-width: $sizeTablet) {
          font-size: sizeT(12);
        }
        @media (max-width: $sizeMb) {
          font-size: size(14);
          margin-bottom: size(18);
          color: #6D727B;
          text-align: center;
        }
        ul {
          li {
            margin-bottom: 8px;
            @media (max-width: 1440px) {
              margin-bottom: sizeP(8);
            }
            @media (max-width: $sizeTablet) {
              margin-bottom: sizeT(5);
            }
            @media (max-width: $sizeMb) {
              margin-bottom: size(8);
            }
            &:last-child {
              margin-bottom: 0;
            }

            a {
              transition: all .3s;
              &.btn_change_lang {
                svg {
                  margin-left: 5px;
                  width: 24px;
                  height: 24px;
                  @media (max-width: 1440px) {
                    margin-left: sizeP(5);
                    width: sizeP(24);
                    height: sizeP(24);
                  }
                  @media (max-width: $sizeTablet) {
                    margin-left: sizeT(5);
                    width: sizeT(16);
                    height: sizeT(16);
                  }
                  @media (max-width: $sizeMb) {
                    margin-left: size(5);
                    width: size(16);
                    height: size(16);
                  }
                  path{
                    fill: $--gray-1;
                  }
                }

                &:after {
                  display: none;
                }
              }
              &:hover {
                color: $--primary;
                svg {
                  path{
                      fill: $--primary;
                  }
                }
              }
            }
            .dropdown-menu {
              overflow: hidden;
              padding: 0;
              .dropdown-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px;
                @media (max-width: 1440px) {
                  padding: sizeP(15);
                }
                @media (max-width: $sizeTablet) {
                  padding: sizeT(12);
                }
                @media (max-width: $sizeMb) {
                  padding: size(12);
                }
                &:hover{
                  background-color: #f8f9fa;
                }
                .flag {
                  width: 30px;
                  height: 20px;
                  border-radius: 4px;
                  object-fit: cover;
                  object-position: center;
                  margin-right: 8px;
                  @media (max-width: 1440px) {
                    width: sizeP(30);
                    height: sizeP(20);
                    border-radius: sizeP(4);
                    margin-right: sizeP(8);
                  }
                  @media (max-width: $sizeTablet) {
                    width: sizeT(23);
                    height: sizeT(16);
                    border-radius: sizeT(4);
                    margin-right: sizeT(4);
                  }
                  @media (max-width: $sizeMb) {
                    width: size(23);
                    height: size(16);
                    border-radius: size(4);
                    margin-right: size(4);
                  }
                }

                span {
                  color: $--gray;
                  font-size: 15px;
                  line-height: 120%;
                  @media (max-width: 1440px) {
                    font-size: sizeP(15);
                  }
                  @media (max-width: $sizeTablet) {
                    font-size: sizeT(12);
                  }
                  @media (max-width: $sizeMb) {
                    font-size: size(12);
                  }
                }
              }
            }
          }
        }
        
        &.wrap_info_mb{
          > ul{
            @media (max-width: $sizeMb) {
              justify-content: center;
              display: flex;
              flex-wrap: wrap;
              gap: size(16);
            }
            li{
              @media (max-width: $sizeMb) {
                margin-bottom: 0;
              }
            }
          }
        }
        &.wrap_info_bd{
          position: relative;
          @media (max-width: $sizeMb) {
            margin-bottom: size(18);
            padding-bottom: size(10);
          }
          &::after {
            @media (max-width: $sizeMb) {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: size(150);
              height: size(1);
              background-color: #C9CBCF;
            }
          }
        }
      }

      .social {
        margin-top: 18px;
        @media (max-width: 1440px) {
          margin-top: sizeP(18);
        }
        @media (max-width: $sizeTablet) {
          margin-top: sizeT(11);
        }
        @media (max-width: $sizeMb) {
          margin-top: 0;
        }
        a {
          display: flex;
          margin-right: 16px;
          @media (max-width: 1440px) {
            margin-right: sizeP(16);
          }
          @media (max-width: $sizeTablet) {
            margin-right: sizeT(12);
          }
          @media (max-width: $sizeMb) {
            margin-right: 0;
          }
          img {
            width: auto;
            height: 40px;
            @media (max-width: 1440px) {
              height: sizeP(40);
            }
            @media (max-width: $sizeTablet) {
              height: sizeT(50);
            }
            @media (max-width: $sizeMb) {
              height: size(30);
            }
          }

        }
        .w_social{
          a{
            display: flex;
          }
          img {
            color: $--gray-1;
            width: auto;
            height: 36px;
            @media (max-width: 1440px) {
              height: sizeP(36);
            }
            @media (max-width: $sizeTablet) {
              height: sizeT(30);
            }
            @media (max-width: $sizeMb) {
              height: size(36);
            }
            path{
              fill: $--gray-1;
            }
          }
          svg {
            color: $--gray-1;
            width: auto;
            height: 40px;
            @media (max-width: 1440px) {
              height: sizeP(40);
            }
             @media (max-width: $sizeTablet) {
              height: sizeT(32);
            }
            @media (max-width: $sizeMb) {
              height: size(40);
            }
            path{
              fill: $--gray-1;
            }
          }
        }
        .text {
          color: $--gray-1;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          @media (max-width: 1440px) {
            font-size: sizeP(16);
            line-height: sizeP(24);
          }
          @media (max-width: $sizeTablet) {
            font-size: sizeT(16);
            line-height: sizeT(24);
          }
          @media (max-width: $sizeMb) {
            font-size: size(16);
            line-height: size(24);
          }
        }
      }

      .map {
        position: relative;
        @media (max-width: $sizeMb) {
          width: size(279);
          margin: auto;
          margin-top: size(10);
          margin-bottom: size(28);
        }
        img, svg {
          width: auto;
          max-width: 100%;
          height: 152px;
          @media (max-width: 1440px) {
            height: sizeP(152);
          }
          @media (max-width: $sizeTablet) {
            margin-left: sizeT(20);
            height: sizeT(110);
          }
          @media (max-width: $sizeMb) {
            width: 100%;
            height: auto;
          }
          path{
            fill: #c7c7c7;
            stroke: #fff;
            @media (max-width: $sizeMb) {
              fill: transparent;
              stroke: #989B9F;
            }
          }
        }
        .shop, .store{
          position: absolute;
          border-radius: 8px;
          border: 1px solid #AFB5B9;
          background: #f7f7f7;
          box-shadow: 2px 4px 16px 0px rgba(33, 150, 243, 0.32);
          padding: 4px 16px;
          display: flex;
          align-items: end;
          color: #989B9F;
          font-size: 16px;
          font-weight: 700;
          line-height: 120%;
          gap: 2px;
          @media (max-width: 1440px) {
            border-radius: sizeP(8);
            border: sizeP(1) solid #AFB5B9;
            box-shadow: sizeP(2) sizeP(4) sizeP(16) 0px rgba(33, 150, 243, 0.32);
            padding: sizeP(4) sizeP(16);
            font-size: sizeP(16);
            gap: sizeP(2);
          }
          @media (max-width: $sizeTablet) {
            border-radius: sizeT(8);
            border: sizeT(1) solid #AFB5B9;
            box-shadow: sizeT(2) sizeT(4) sizeT(16) 0px rgba(33, 150, 243, 0.32);
            padding: sizeT(3) sizeT(10);
            font-size: sizeT(12);
            gap: sizeT(2);
          }
          @media (max-width: $sizeMb) {
            border-radius: size(8);
            border: size(1) solid #AFB5B9;
            box-shadow: size(2) size(4) size(16) 0px rgba(33, 150, 243, 0.32);
            padding: size(2) size(16);
            font-size: size(14);
            gap: size(5);
          }
          span{
            color: #6D727B;
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            @media (max-width: 1440px) {
              font-size: sizeP(20);
            }
            @media (max-width: $sizeTablet) {
              font-size: sizeT(16);
            }
            @media (max-width: $sizeMb) {
              font-size: size(20);
            }
          }
        }
        .shop{
          top: 40px;
          left: 19px;
          @media (max-width: 1440px) {
            top: sizeP(40);
            left: sizeP(19);
          }
          @media (max-width: $sizeTablet) {
            top: sizeT(25);
            left: sizeT(25);
          }
          @media (max-width: $sizeMb) {
            top: size(44);
            left: size(25);
          }
        }
        .store{
          top: 86px;
          left: 106px;
          @media (max-width: 1440px) {
            top: sizeP(86);
            left: sizeP(106);
          }
          @media (max-width: $sizeTablet) {
            top: sizeT(60);
            left: sizeT(90);
          }
          @media (max-width: $sizeMb) {
            top: size(90);
            left: size(115);
          }
        }
      }

      .wrap_social_mb{
        .title{
          color: #6D727B;
          text-align: center;
          font-size: size(14);
          font-weight: 400;
          margin-bottom: size(16);
        }
        .social{
          .w_social{
            a{
              svg{
                path{
                  fill: #6D727B;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer_bottom {
    padding: 12px 0;
    background: $--primary;
    @media (max-width: 1440px) {
      padding: sizeP(12) 0;
    }
    @media (max-width: $sizeTablet) {
      padding: sizeT(12) 0;
    }
    @media (max-width: $sizeMb) {
      padding: size(12) 0;
    }
    .copyright {
      text-align: left;
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      @media (max-width: 1440px) {
        font-size: sizeP(14);
        line-height: sizeP(20);
      }
      @media (max-width: $sizeTablet) {
        font-size: sizeT(11);
      }
      @media (max-width: $sizeMb) {
        text-align: center;
        font-size: size(14);
        line-height: size(20);
      }
    }
  }
}
