.header {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
  @media (max-width: 1440px) {
    box-shadow: 0px sizeP(12) sizeP(24) 0px rgba(0, 0, 0, 0.12);
  }
  @media (max-width: $sizeTablet) {
    box-shadow: unset;
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
  }
  &.active{
    @media (max-width: $sizeTablet) {
      box-shadow: 0px sizeT(6) sizeT(12) 0px rgba(0, 0, 0, 0.12);
    }
    @media (max-width: $sizeMb) {
      box-shadow: 0px size(6) size(12) 0px rgba(0, 0, 0, 0.12);
    }
  }
  .wrapper {
    height: 93px;
    @media (max-width: 1440px) {
      height: sizeP(93);
    }
    @media (max-width: $sizeTablet) {
      height: sizeT(60);
    }
    @media (max-width: $sizeMb) {
      height: size(48);
    }
  }

  .wrap_left {
    .btn-menu {
      position: relative;
      z-index: 99;
      margin-right: 8px;
      display: none;
      @media (max-width: $sizeTablet) {
        margin-right: sizeT(8);
        display: block;
      }
      @media (max-width: $sizeMb) {
        display: block;
      }
      img, svg {
        width: 20px;
        height: auto;
        @media (max-width: $sizeTablet) {
          width: sizeT(25);
        }
        @media (max-width: $sizeMb) {
          width: size(20);
        }
        &:first-child{
          display: block;
        }
        &:last-child{
          display: none;
        }
        path{
          fill: #706F6F;
        }
      }
      &.open{
        img, svg{
          &:first-child{
            display: none;
          }
          &:last-child{
            display: block;
          }
        }
      }
    }

    .logo {
      display: block;
      position: relative;
      z-index: 99;
      @media (max-width: $sizeTablet) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        width: auto;
        height: 56px;
        display: block;
        @media (max-width: 1440px) {
          height: sizeP(56);
        }
        @media (max-width: $sizeTablet) {
          height: sizeT(40);
        }
        @media (max-width: $sizeMb) {
          height: size(32);
        }
      }
    }
  }
  .wrap_right{
    position: relative;
    z-index: 99;
  }
  .wrap_menu {
    transition: all .3s;
    @media (max-width: $sizeTablet) {
      position: fixed;
      z-index: 98;
      height: auto;
      width: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      background-color: #fff;
      text-align: center;
      padding-top: sizeT(60);
      padding-bottom: sizeT(50);
    }
    @media (max-width: $sizeMb) {
      padding-top: size(60);
      padding-bottom: size(50);
    }
    &.active{
      @media (max-width: $sizeTablet) {
        transform: translateX(0);
        box-shadow: 0px sizeT(12) sizeT(24) 0px rgba(0, 0, 0, 0.12);
      }
      @media (max-width: $sizeMb) {
        box-shadow: 0px size(12) size(24) 0px rgba(0, 0, 0, 0.12);
      }
    }
    .nav {
      .nav-item {
        margin-right: 17px;
        @media (max-width: 1440px) {
          margin-right: sizeP(17);
        }
        @media (max-width: $sizeTablet) {
          margin-right: 0;
          width: 50%;
        }
        &:last-child {
          margin-right: 0;
        }
        .btn-link{
          display: inline-block;
          padding: 12px 16px;
          border-radius: 12px;
          border: 1px solid #AFB5B9;
          background: #FFF;
          color: $--gray;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.15;
          transition: all .3s;
          text-decoration: none;
          @media (max-width: 1441px) {
            padding: sizeP(12) sizeP(16);
            border-radius: sizeP(12);
            border: sizeP(1) solid #AFB5B9;
            font-size: sizeP(16);
          }
          @media (max-width: $sizeTablet) {
            padding: sizeT(10) sizeT(10);
            border-radius: sizeT(12);
            border: sizeT(1) solid #C9CBCF;
            font-size: sizeT(16);
          }
          @media (max-width: $sizeMb) {
            padding: size(10) size(10);
            border-radius: size(12);
            border: size(1) solid #C9CBCF;
            font-size: size(16);
          }
        }
        .nav-link {
          color: $--gray;
          font-size: 18px;
          font-weight: 500;
          line-height: 120%;
          padding: 12px;
          transition: all .3s;
          @media (max-width: 1440px) {
            font-size: sizeP(18);
            padding: sizeP(12);
          }
          @media (max-width: $sizeTablet) {
            display: inline-block;
            font-size: sizeT(16);
            padding: sizeT(12) 0;
          }
          @media (max-width: $sizeMb) {
            font-size: size(16);
            padding: size(12) 0;
          }
          &:hover {
            color: $--primary;
          }
          &.active{
            border-radius: 8px;
            background: $--primary;
            color: $--white;

            @media (max-width: 1440px) {
              border-radius: sizeP(8);
            }
            @media (max-width: $sizeTablet) {
              border-radius: sizeT(8);
              padding: sizeT(12);
            }
            @media (max-width: $sizeMb) {
              border-radius: size(8);
              padding: size(12);
            }
          }
        }
      }
    }
  }

  .wrap_right {
    > * {
      margin-right: 16px;
      @media (max-width: 1440px) {
        margin-right: sizeP(16);
      }
      @media (max-width: $sizeTablet) {
        margin-right: sizeT(8);
      }
      @media (max-width: $sizeMb) {
        margin-right: size(8);
      }
      &:last-child {
        margin-right: 0;
      }
    }

    .wrap_account{
      position: relative;
      .dropdown-menu {
        left: 50% !important;
        top: 120% !important;
        transform: translateX(-50%) !important;
        width: max-content;
      }
    }

    .w_lang {
      position: relative;
      padding: 10px 0;
      @media (max-width: 1440px) {
        padding: sizeP(10) 0;
      }
      @media (max-width: $sizeTablet) {
        padding: sizeT(4) 0;
      }
      @media (max-width: $sizeMb) {
        padding: size(4) 0;
      }
      .btn_change_lang {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 0 !important;
        color: $--gray;
        font-size: 15px;
        font-weight: 500;
        @media (max-width: 1440px) {
          padding-right: 0 !important;
          font-size: sizeP(15);
        }
        @media (max-width: $sizeTablet) {
          padding-right: 0 !important;
          font-size: sizeT(13);
        }
        @media (max-width: $sizeMb) {
          padding-right: 0 !important;
          font-size: size(13);
        }
        span{
          font-size: 15px;
          font-weight: 500;
          @media (max-width: 1440px) {
            font-size: sizeP(15);
          }
          @media (max-width: $sizeTablet) {
            display: none;
            font-size: sizeT(13);
          }
          @media (max-width: $sizeMb) {
            font-size: size(13);
          }
        }
        &::after {
          width: unset;
          height: unset;
          position: relative;
          top: unset;
          right: 0;
          display: inline-block;
          content: "";
          border-top: .3em solid;
          border-right: .3em solid transparent;
          border-bottom: 0;
          border-left: .3em solid transparent;
          background: unset;
        }

        .flag {
          width: 30px;
          height: 20px;
          border-radius: 4px;
          object-fit: cover;
          object-position: center;
          margin-right: 8px;
          @media (max-width: 1440px) {
            width: sizeP(30);
            height: sizeP(20);
            border-radius: sizeP(4);
            margin-right: sizeP(8);
          }
          @media (max-width: $sizeTablet) {
            width: sizeT(35);
            height: sizeT(25);
            border-radius: sizeT(4);
            margin-right: sizeT(4);
          }
          @media (max-width: $sizeMb) {
            width: size(23.881);
            height: size(16);
            border-radius: size(4);
            margin-right: size(4);
          }
        }

        .arrow {
          width: 24px;
          height: 24px;
          @media (max-width: 1440px) {
            width: sizeP(24);
            height: auto;
          }
          @media (max-width: $sizeTablet) {
            width: sizeT(20);
          }
          @media (max-width: $sizeMb) {
            width: size(16);
          }
        }
      }

      .dropdown-menu {
        left: 50% !important;
        top: 120% !important;
        transform: translateX(-50%) !important;
        overflow: hidden;
        padding: 0;
        @media (max-width: $sizeTablet) {
          left: unset !important;
          transform: unset !important;
        }
        .dropdown-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px;
          @media (max-width: 1440px) {
            padding: sizeP(15);
          }
          @media (max-width: $sizeTablet) {
            padding: sizeT(15);
          }
          @media (max-width: $sizeMb) {
            padding: size(12);
          }
          &:hover{
            background-color: #f8f9fa;
          }
          .flag {
            width: 30px;
            height: 20px;
            border-radius: 4px;
            object-fit: cover;
            object-position: center;
            margin-right: 8px;
            @media (max-width: 1440px) {
              width: sizeP(30);
              height: sizeP(20);
              border-radius: sizeP(4);
              margin-right: sizeP(8);
            }
            @media (max-width: $sizeTablet) {
              width: sizeT(23);
              height: sizeT(16);
              border-radius: sizeT(4);
              margin-right: sizeT(4);
            }
            @media (max-width: $sizeMb) {
              width: size(23);
              height: size(16);
              border-radius: size(4);
              margin-right: size(4);
            }
          }

          span {
            color: $--gray;
            font-size: 15px;
            line-height: 120%;
            @media (max-width: 1440px) {
              font-size: sizeP(15);
            }
            @media (max-width: $sizeTablet) {
              font-size: sizeT(12);
            }
            @media (max-width: $sizeMb) {
              font-size: size(12);
            }
          }
        }
      }
    }
  }
}
