.section-padding {
  padding: 80px 0;
  @media (max-width: 1440px) {
    padding: sizeP(80) 0;
  }
  @media (max-width: $sizeMb) {
    padding: size(26) 0;
  }
}

.section-padding-top {
  padding-top: 80px;
  @media (max-width: 1440px) {
    padding-top: sizeP(80);
  }
  @media (max-width: $sizeMb) {
    padding-top: size(26);
  }
}

.section-padding-bottom {
  padding-bottom: 80px;
  @media (max-width: 1440px) {
    padding-bottom: sizeP(80);
  }
  @media (max-width: $sizeMb) {
    padding-bottom: size(26);
  }
}

.section-padding-top {
  padding-top: 80px;
  @media (max-width: 1440px) {
    padding-top: sizeP(80);
  }
  @media (max-width: $sizeMb) {
    padding-top: size(26);
  }
}

.section-padding-50 {
  padding: 40px 0;
  @media (max-width: 1440px) {
    padding: sizeP(40) 0;
  }
  @media (max-width: $sizeMb) {
    padding: size(13) 0;
  }
}

.section-padding-top-50 {
  padding-top: 40px;
  @media (max-width: 1440px) {
    padding-top: sizeP(40);
  }
  @media (max-width: $sizeMb) {
    padding-top: size(13);
  }
}

.section-padding-bottom-50 {
  padding-bottom: 40px;
  @media (max-width: 1440px) {
    padding-bottom: sizeP(40);
  }
  @media (max-width: $sizeMb) {
    padding-bottom: size(13);
  }
}

.section_title, .wrap_head_title {
  margin-bottom: 50px;
  @media (max-width: 1440px) {
    margin-bottom: sizeP(50);
  }
  @media (max-width: $sizeMb) {
    margin-bottom: size(16);
  }

  .title {
    > h1, > h2 {
      color: $--gray;
      font-size: 26px;
      font-weight: 700;
      line-height: 120%;
      @media (max-width: 1440px) {
        font-size: sizeP(26);
      }
      @media (max-width: $sizeMb) {
        font-size: size(18);
      }
      span {
        color: $--primary;
        font-size: 24px;
        margin-top: 5px;
        display: inline-block;
        @media (max-width: 1440px) {
          font-size: sizeP(24);
          margin-top: sizeP(5);
        }
        @media (max-width: $sizeMb) {
          font-size: size(16);
          margin-top: size(4);
        }
      }
    }

    > h3 {
      color: $--gray;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      @media (max-width: 1440px) {
        font-size: sizeP(20);
      }
      @media (max-width: $sizeMb) {
        font-size: size(18);
      }
    }
    &.title-primary {
      > * {
        color: $--primary;
      }
    }
  }

  .text_link {
    color: $--primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    @media (max-width: 1440px) {
      font-size: sizeP(16);
    }
    @media (max-width: $sizeMb) {
      font-size: size(16);
    }
  }

  .wrap_list_action_flex {
    margin-bottom: 0;
  }

  .wrap-action {
    min-width: 400px;
    max-width: 100%;
    @media (max-width: 1440px) {
      min-width: sizeP(400);
    }
    @media (max-width: $sizeMb) {
      min-width: 100%;
    }
  }
}

.wrap_list {
  //margin-bottom: 32px;
  //@media (max-width: 1440px) {
  //  margin-bottom: sizeP(32);
  //}
  //@media (max-width: $sizeMb) {
  //  margin-bottom: size(16);
  //}
  .item {
    .image {
      padding: 16px;
      border-radius: 16px;
      border: 1px solid #EEE;
      background: #FFF;
      height: 189px;
      text-align: center;
      margin-bottom: 16px;
      @media (max-width: 1440px) {
        padding: sizeP(16);
        border-radius: sizeP(16);
        border: sizeP(1) solid #EEE;
        height: sizeP(189);
        margin-bottom: sizeP(16);
      }
      @media (max-width: $sizeMb) {
        margin-bottom: size(16);
        height: size(161);
        padding: size(12);
        border-radius: size(16);
        border: size(1) solid #EEE;
      }

      a {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        img {
          display: block;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .name {
      a {
        transition: all .3s;
        color: #343434;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
        @include line_text(1);
        @media (max-width: 1440px) {
          font-size: sizeP(16);
        }
        @media (max-width: $sizeMb) {
          font-size: size(16);
        }
      }
    }

    &:hover {
      .name {
        a {
          color: $--primary;
        }
      }
    }

    .image-upload-item{
      .upload-box{
        min-height: unset;
        img{
          height: 189px;
          object-fit: cover;
          object-position: center;
          @media (max-width: 1440px) {
            height: sizeP(189);
          }
          @media (max-width: $sizeMb) {
            height: size(161);
          }
        }
      }
    }
  }
  .swiper{
    padding: 0 1px;
    @media (max-width: $sizeMb) {
      padding: 0 size(1);
    }
  }
  &.wrap_list_scroll{
    overflow: auto;
    margin-bottom: 10px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(10);
    }
    @media (max-width: $sizeMb) {
      display: flex;
      margin-bottom: size(10);
      @include pd_scroll_mb();
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width: max-content;
      gap: 16px;
      padding-bottom: 16px;
      @media (max-width: 1440px) {
        gap: sizeP(16);
        padding-bottom: sizeP(16);
      }
      @media (max-width: $sizeMb) {
        gap: size(14);
        padding-bottom: size(8);
      }
      .item{
        width: 170px;
        @media (max-width: 1440px) {
          width: sizeP(170);
        }
        @media (max-width: $sizeMb) {
          width: size(150);
        }
      }
    }
  }
}

.section_banner {
  .wrapper {
    position: relative;
    .item-banner {
      display: block;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1440 / 530;
        @media (max-width: $sizeMb) {
          aspect-ratio: 375 / 250;
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 1440px) {
        bottom: sizeP(15);
      }
      @media (max-width: $sizeMb) {
        bottom: size(20)*-1;
      }
    }
    .upload-box{
      border-radius: 0;
    }
  }
}

.section_banner_detail,.section_page_detail {
  .desc {
    color: #43464D;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 48px;
    @media (max-width: 1440px) {
      font-size: sizeP(20);
      margin-bottom: sizeP(48);
    }
    @media (max-width: $sizeMb) {
      font-size: size(14);
      margin-bottom: size(16);
    }

    p {
      margin-bottom: 12px;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(12);
      }
      @media (max-width: $sizeMb) {
        margin-bottom: size(6);
      }
    }
  }
  .wrap-image-3{
    margin-bottom: 48px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(48);
    }
    @media (max-width: $sizeMb) {
      margin-bottom: size(16);
    }
    img{
      width: 100%;
    }
  }
  .wrap-image {
    max-width: 824px;
    margin: auto;
    margin-bottom: 48px;
    @media (max-width: 1440px) {
      max-width: sizeP(824);
      margin-bottom: sizeP(48);
    }
    @media (max-width: $sizeMb) {
      max-width: 100%;
      margin-bottom: size(16);
    }

    .image-upload-item {
      width: 100%;

      .upload-box {
        text-align: center;


        .imagePreview {
          width: 100%;
          border-radius: 16px;
          @media (max-width: 1440px) {
            border-radius: sizeP(16);
          }
          @media (max-width: $sizeMb) {
            border-radius: size(8);
          }
        }
      }
    }
  }

  .wrap_btn {
    .lb-xsmall-primary {
      width: 150px;
      @media (max-width: 1441px) {
        width: sizeP(150);
      }
      @media (max-width: $sizeMb) {
        width: size(100);
      }
    }
  }
}
.section_page_detail{
  .wrap-image {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    .item {
      flex: 1 1 calc(50% - 16px);
      box-sizing: border-box;
      img{
        width: 100%;
      }
    }
  }
}
.section_about {
  .wrapper{
    gap: 32px;
    @media (max-width: 1440px) {
      gap: sizeP(32);
    }
    @media (max-width: $sizeMb) {
      gap: size(20);
    }
  }
  .wrap_content {
    .title {
      margin-bottom: 32px;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(32);
      }
      @media (max-width: $sizeMb) {
        margin-bottom: size(12);
      }

      > * {
        color: $--gray;
        font-size: 26px;
        font-weight: 700;
        line-height: 120%;
        @media (max-width: 1440px) {
          font-size: sizeP(26);
        }
        @media (max-width: $sizeMb) {
          font-size: size(20);
        }

        span {
          color: $--primary;
          font-size: 24px;
          margin-top: 5px;
          display: inline-block;
          @media (max-width: 1440px) {
            font-size: sizeP(24);
            margin-top: sizeP(5);
          }
          @media (max-width: $sizeMb) {
            font-size: size(18);
            margin-top: size(4);
          }
        }
      }
    }
    .wrap-btn{
        margin-top: 32px;
        @media (max-width: 1440px) {
          margin-top: sizeP(32);
        }
        @media (max-width: $sizeMb) {
          margin-top: size(12);
        }
    }
    .content {
      color: #43464D;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      @media (max-width: 1440px) {
        font-size: sizeP(18);
      }
      @media (max-width: $sizeMb) {
        font-size: size(14);
      }

      p {
        margin-bottom: 12px;
        @media (max-width: 1440px) {
          margin-bottom: sizeP(12);
        }
        @media (max-width: $sizeMb) {
          margin-bottom: size(6);
        }
      }
      >*{
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .images {
    min-width: 40%;
    position: sticky;
    top: 30px;
    @media (max-width: 1440px) {
      top: sizeP(30);
    }
    @media (max-width: $sizeMb) {
      top: unset;
      position: relative;
    }
    img {
      width: 100%;
      border-radius: 16px;
      box-shadow: 5px 10px 24px 0px rgba(0, 0, 0, 0.24);
      @media (max-width: 1440px) {
        border-radius: sizeP(16);
        box-shadow: sizeP(5) sizeP(10) sizeP(24) 0px rgba(0, 0, 0, 0.24);
      }
      @media (max-width: $sizeMb) {
        border-radius: size(16);
        box-shadow: 5px 10px 16px 0px rgba(0, 0, 0, 0.24);
      }
    }
  }

  .wrap-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-top: 16px;
    @media (max-width: 1440px) {
      margin-top: sizeP(16);
      gap: sizeP(32);
    }
    @media (max-width: $sizeMb) {
      margin-top: sizeP(12);
      width: 100%;
      gap: size(12);
    }
    >*{
      @media (max-width: $sizeMb) {
        text-align: center;
        width: 100%;
      }
    }
  }
}

.section_partner {
  .swiper-button-prev, .swiper-button-next {
    top: 40%;
  }
  .swiper-button-prev{
    left: 0;
    @media (max-width: 1440px) {
      left: 0;
    }
    @media (max-width: $sizeMb) {
      left: 0;
    }
  }
  .swiper-button-next{
    right: 0;
    @media (max-width: 1440px) {
      right: 0;
    }
    @media (max-width: $sizeMb) {
      right: 0;
    }
  }
  .section_content {
    .wrapper {
      .wrap_nav_partner {
        overflow: auto;
        margin-bottom: 30px;
        padding-bottom: 2px;
        position: relative;
        @media (max-width: 1440px) {
          padding-bottom: sizeP(2);
          margin-bottom: sizeP(30);
        }
        @media (max-width: $sizeMb) {
          padding-bottom: size(2);
          margin-bottom: size(11);
          @include no_scroll_bar();
        }
        @media (max-width: $sizeMb) {
          @include none_pd_scroll_mb_left();
        }
        &.end{
          @include none_pd_scroll_mb_revert();
        }
        &::after{
          content: '';
          height: 3px;
          width: 100%;
          background: rgb(199 199 199 / 38%);
          position: absolute;
          bottom: 2px;
          left: 0;
          @media (max-width: 1440px) {
            height: sizeP(3);
            bottom: sizeP(2);
          }
          @media (max-width: $sizeMb) {
            height: size(1.5);
            bottom: size(3);
          }
        }
        .nav-slider {
          min-width: 100%;
          padding-bottom: 32px;
          position: relative;
          @media (max-width: 1440px) {
            padding-bottom: sizeP(32);
          }
          @media (max-width: $sizeMb) {
            padding-bottom: size(12);
          }
        }

        .item {
          &:last-child {
            margin-right: 0;
          }

          .nav-link {
            position: relative;
            width: 189px;
            height: 100px;
            padding: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            background: #FFF;
            transition: all .3s;
            opacity: .6;
            @media (max-width: 1440px) {
              width: sizeP(185);
              height: sizeP(100);
              padding: sizeP(8);
              border-radius: sizeP(16);
            }
            @media (max-width: $sizeMb) {
              height: size(56);
              width: auto;
              max-width: 100%;
              border-radius: size(16);
              background: #FFF;
            }

            &:after {
              transition: all .3s;
            }

            img {
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
            }
            &:hover {
              opacity: 1;
              &:after {
                content: '';
                position: absolute;
                height: 5px;
                width: 100%;
                background-color: $--primary;
                bottom: -33px;
                left: 0;
                @media (max-width: 1440px) {
                  height: sizeP(5);
                  width: 100%;
                  background-color: $--primary;
                  bottom: sizeP(33)*-1;
                }
                @media (max-width: $sizeMb) {
                  content: unset;
                }
              }
            }
            &.active {
              opacity: 1;
              &:after {
                content: '';
                position: absolute;
                height: 5px;
                width: 100%;
                background-color: $--primary;
                bottom: -33px;
                left: 0;
                @media (max-width: 1440px) {
                  height: sizeP(5);
                  width: 100%;
                  background-color: $--primary;
                  bottom: sizeP(33)*-1;
                }
                @media (max-width: $sizeMb) {
                  width: size(80);
                  height: size(3);
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: size(13)*-1;
                  border-radius: size(8);
                }
              }
            }

          }
        }
      }

      .wrap_product {
        margin-bottom: 60px;
        @media (max-width: 1440px) {
          margin-bottom: sizeP(60);
        }
        @media (max-width: $sizeMb) {
          margin-bottom: sizeP(15);
        }
        @media (max-width: $sizeMb) {
          @include none_pd_scroll_mb_left();
        }
        .row {
          margin: 0 -16px;
          @media (max-width: 1440px) {
            margin: 0 sizeP(16)*-1;
          }
          @media (max-width: $sizeMb) {

          }

          > * {
            padding: 0 16px;
            @media (max-width: 1440px) {
              padding: 0 sizeP(16);
            }
            @media (max-width: $sizeMb) {

            }
          }
        }
      }

      .wrap_content_partner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        @media (max-width: $sizeMb) {
          flex-direction: column;
          gap: size(12);
          margin-top: size(16);
          @include pd_scroll_mb();
        }
        .wrap_images_slider {
          width: 466px;
          min-height: 100%;
          @media (max-width: 1440px) {
            width: sizeP(466);
          }
          @media (max-width: $sizeMb) {
            width: 100%;
          }

          .swiper-detail {
            margin-bottom: 32px;
            border-radius: 16px;
            box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
            @media (max-width: 1440px) {
              margin-bottom: sizeP(32);
              border-radius: sizeP(16);
              box-shadow: sizeP(5) sizeP(10) sizeP(20) 0px rgba(0, 0, 0, 0.25);
            }
            @media (max-width: $sizeMb) {
              margin-bottom: size(12);
              border-radius: size(16);
              box-shadow: size(3) size(5) size(16) 0px rgba(0, 0, 0, 0.25);
            }

            .image {
              display: flex;
              position: relative;
              img {
                height: 433px;
                width: 100%;
                object-fit: cover;
                object-position: center;
                @media (max-width: 1440px) {
                  height: sizeP(433);
                }
                @media (max-width: $sizeMb) {
                  height: size(265);
                }
              }
              .link{
                display: none;
                color: $--primary;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
                @media (max-width: $sizeMb) {
                  display: flex;
                  position: absolute;
                  top: size(20);
                  right: size(20);
                  padding: size(5);
                }
                svg{
                  width: 24px;
                  height: auto;
                  @media (max-width: 1440px) {
                      width: sizeP(24);
                  }
                  @media (max-width: $sizeMb) {
                      width: size(18);
                  }
                  path{
                  }
                }
              }
            }
          }

          .swiper-container-thumbs {
            .image-thumb {
              img {
                width: 100%;
                height: 92px;
                border-radius: 16px;
                object-fit: cover;
                object-position: center;
                @media (max-width: 1440px) {
                  height: sizeP(92);
                  border-radius: sizeP(16);
                }
                @media (max-width: $sizeMb) {
                  border-radius: size(16);
                  height: size(74);
                }
              }
            }
            .swiper-slide-thumb-active{
              img {
                @media (max-width: $sizeMb) {
                  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
                }
              }
            }
          }
        }

        .wrap_content {
          width: calc(100% - 498px);
          min-height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @media (max-width: 1440px) {
            $s498p: sizeP(498);
            width: calc(100% - $s498p);
          }
          @media (max-width: $sizeMb) {
            width: 100%;
          }
          .wrap_top{
            flex: 1;
          }
          .title {
            color: $--primary;
            font-size: 26px;
            font-weight: 700;
            line-height: 120%; /* 52.8px */
            margin-bottom: 5px;
            @media (max-width: 1440px) {
              font-size: sizeP(26);
              margin-bottom: sizeP(5);
            }
            @media (max-width: $sizeMb) {
              font-size: size(20);
              margin-bottom: size(4);
            }
          }

          .sub_title {
            color: #43464D;
            font-size: 24px;
            font-weight: 600;
            line-height: 120%; /* 52.8px */
            margin-bottom: 32px;
            @media (max-width: 1440px) {
              font-size: sizeP(24);
              margin-bottom: sizeP(32);
            }
            @media (max-width: $sizeMb) {
              font-size: size(16);
              margin-bottom: size(8);
            }
          }

          .content {
            color: #43464D;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 32px;
            @media (max-width: 1440px) {
              font-size: sizeP(18);
              margin-bottom: sizeP(32);
            }
            @media (max-width: $sizeMb) {
              font-size: size(14);
              margin-bottom: size(12);
            }

            p {
              margin-bottom: 12px;
              @media (max-width: 1440px) {
                margin-bottom: sizeP(12);
              }
              @media (max-width: $sizeMb) {
                margin-bottom: size(6);
              }
            }
          }

          .wrap_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            @media (max-width: 1440px) {
              gap: sizeP(32);
            }
            @media (max-width: $sizeMb) {
              flex-wrap: wrap;
              gap: size(12);
              flex-direction: column-reverse;
              align-items: start;
            }
            .wrap_btn_left {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 32px;
              @media (max-width: 1440px) {
                gap: sizeP(32);
              }
              @media (max-width: $sizeMb) {
                width: 100%;
                gap: size(12);
              }
              >*{
                @media (max-width: $sizeMb) {
                  border-radius: size(8);
                  border: size(1) solid #C9CBCF;
                  color: #6D727B;
                  text-align: center;
                  font-size: size(14);
                  font-weight: 700;
                  width: 100%;
                  padding: size(5) size(6) size(6);
                  line-height: 1.4;
                }
              }
            }

          }
        }
      }
    }
  }

  &.section_partner_page {
    .section_content {
      .wrapper {
        .wrap_nav_partner {
          margin-bottom: 0px;
        }
      }

      .wrap_product {
        margin-bottom: 60px;
        @media (max-width: 1440px) {
          margin-bottom: sizeP(60);
        }
        @media (max-width: $sizeMb) {
          margin-bottom: sizeP(15);
        }
        @media (max-width: $sizeMb) {
          @include none_pd_scroll_mb_left();
        }

        .row {
          margin: 0 -16px;
          @media (max-width: 1440px) {
            margin: 0 sizeP(16)*-1;
          }
          @media (max-width: $sizeMb) {

          }

          > * {
            padding: 0 16px;
            @media (max-width: 1440px) {
              padding: 0 sizeP(16);
            }
            @media (max-width: $sizeMb) {

            }
          }
        }

      }
    }
  }
}

.wrap_menu_short{
  margin-bottom: 24px;
  @media (max-width: 1440px) {
    margin-bottom: sizeP(24);
  }
  @media (max-width: $sizeMb) {
    margin-bottom: size(12);
    overflow: auto;
  }
  .splide{
    padding: 6px 36px;
    @media (max-width: 1440px) {
      padding: sizeP(6) sizeP(36);
    }
    @media (max-width: $sizeMb) {
      padding: size(6) size(36);
    }
    &.mounted {
      .is-active{
        opacity: 1;
        .brand-name {
          transform: scale(1.2);
          font-weight: 600;
        }
      }
    }
    .splide__arrow {
      svg{
        fill: transparent !important;
      }
    }
    .splide__arrow--prev{
      background-color: rgba(55, 65, 79, 0.51);
      border: 1px solid #dee2e6;
      color: #dee2e6;
      left: 0;
      svg{
        transform: rotate(0);
      }
    }
    .splide__arrow--next {
      background-color: rgba(55, 65, 79, 0.51);
      border: 1px solid #dee2e6;
      color: #dee2e6;
      right: 0;
    }
  }
  .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    &.active {
      opacity: 1;
      .brand-name {
        transform: scale(1.1);
        font-weight: 600;
        transition: all 1s;
      }
    }
  }
  .brand-name {
    transform: scale(.7);
    display: inline-block;
    text-align: center;
    color: #43464D;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3; /* 150% */
    //transition: all .3s;
    @media (max-width: 1441px) {
      font-size: sizeP(20);
    }
    @media (max-width: $sizeMb) {
      font-size: size(16);
    }
  }

}

.section_cooperate_info{
  .section_title{
    gap: 32px;
    @media (max-width: 1440px) {
      gap: sizeP(32);
    }
    @media (max-width: $sizeMb) {
      gap: size(20);
    }
    .wrap_menu_cooperate{
      gap: 32px;
      @media (max-width: 1440px) {
        gap: sizeP(32);
      }
      @media (max-width: $sizeMb) {
        gap: size(20);
      }
    }
    .wrap_menu_more{
      .btn-action-menu-more{
        display: flex;
        svg{
          width: 24px;
          height: auto;
          @media (max-width: 1440px) {
            width: sizeP(24);
          }
          @media (max-width: $sizeMb) {
              width: size(20);
          }
          path{
            transition: all .3s;
          }
        }
      }
      .w_content{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 5px 10px 24px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 56px 56px 56px;
        max-height: calc(100vh - 216px);
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        z-index: 10;
        @media (max-width: 1440px) {
          top: sizeP(50);
          border-radius: sizeP(12);
          background: #FFF;
          box-shadow: sizeP(5) sizeP(10) sizeP(24) 0 rgba(0, 0, 0, 0.25);
          padding: 0px sizeP(56) sizeP(56) sizeP(56);
          max-height: calcC(100vh, 216);
        }
        @media (max-width: $sizeMb) {
          top: size(40);
          border-radius: size(12);
          box-shadow: size(5) size(10) size(24) 0 rgba(0, 0, 0, 0.25);
          padding: 0px size(20) size(20) size(20);
          max-height: calcCm(100vh, 160);
        }
        .title{
          padding: 23px;
          text-align: center;
          border-bottom: 3px solid $--primary;
          margin-bottom: 32px;
          color: $--primary;
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          @media (max-width: 1440px) {
            font-size: sizeP(24);
            padding: sizeP(23) 0;
            border-bottom: sizeP(3) solid $--primary;
          }
          @media (max-width: $sizeMb) {
            font-size: size(16);
            padding: size(20) 0 size(20);
            border-bottom: size(3) solid $--primary;
          }
        }
        .content {
          display: flex;
          flex-wrap: wrap;
          gap: 32px;
          justify-content: space-between;
          @media (max-width: 1440px) {
              gap: sizeP(32);
          }
          @media (max-width: $sizeMb) {
            gap: sizeP(24);
            margin-bottom: size(12);
          }
          > * {
            cursor: pointer;
            display: inline-block;
            color: #43464D;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.3; /* 150% */
            @media (max-width: 1441px) {
              font-size: sizeP(17);
            }
            @media (max-width: $sizeMb) {
              font-size: size(14);
            }
          }
        }
      }
      &.active{
        .btn-action-menu-more{
          svg{
            path{
              fill: $--primary;
            }
          }
        }
        .w_content{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .wrapper{
    gap: 32px;
    @media (max-width: 1440px) {
      gap: sizeP(32);
    }
    @media (max-width: $sizeMb) {
      gap: size(20);
    }
  }
  .wrap_content {
    flex: 1;
    overflow: hidden;
  }
  .wrap_left{
    width: 33%;
    @media (max-width: 1440px) {
      width: 33%;
    }
    @media (max-width: $sizeMb) {
      width: 100%;
    }
  }
  .images {
    img {
      display: block;
      width: 100%;
      border-radius: 16px;
      box-shadow: 5px 10px 24px 0px rgba(0, 0, 0, 0.24);
      @media (max-width: 1440px) {
        border-radius: sizeP(16);
        box-shadow: sizeP(5) sizeP(10) sizeP(24) 0px rgba(0, 0, 0, 0.24);
      }
      @media (max-width: $sizeMb) {
        border-radius: size(16);
        box-shadow: size(5) size(10) size(24) 0px rgba(0, 0, 0, 0.24);
      }
    }
  }
  .wrap_content_cooperate_left{
    .wrap_info{
      padding-top: 5px;
      @media (max-width: 1440px) {
        padding-top: sizeP(5);
      }
      @media (max-width: $sizeMb) {
        padding-top: 0;
      }
    }
  }
  .wrap_content_cooperate_right{
    @media (max-width: $sizeMb) {
      margin-top: size(16);
    }
    .images {
      img {
        max-height: 300px;
        object-fit: cover;
        object-position: center;
        @media (max-width: 1440px) {
          max-height: sizeP(300);
        }
        @media (max-width: $sizeMb) {
          border-radius: size(16);
          max-height: 100%;
        }
      }
    }

  }
  .wrap_slider_cooperate{
    margin-bottom: 24px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(24);
    }
    @media (max-width: $sizeMb) {
      margin-bottom: size(12);
    }
    .brand-name{
      text-align: center;
      border-radius: 16px;
      border: 1px solid #AFB5B9;
      color: #43464D;
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.3; /* 150% */
      @media (max-width: 1441px) {
        padding: sizeP(10);
        font-size: sizeP(15);
        border-radius: sizeP(16);
        border: sizeP(1) solid #AFB5B9;
      }
      @media (max-width: $sizeMb) {
        padding: size(12);
        font-size: size(13);
        border-radius: size(16);
        border: size(1) solid #AFB5B9;
      }
    }
    .swiper-slide {
      cursor: pointer;
      &.swiper-slide-active{
        .brand-name{
          background: rgba(33, 150, 243, 0.20);
        }
      }
    }
  }
  .wrap_info{
    .item{
      display: block;
      .wrap-btn{
        margin-top: 32px;
        @media (max-width: 1440px) {
          margin-top: sizeP(32);
        }
        @media (max-width: $sizeMb) {
          margin-top: size(12);
        }
      }
      .title {
        margin-bottom: 12px;
        @media (max-width: 1440px) {
          margin-bottom: sizeP(12);
        }
        @media (max-width: $sizeMb) {
          margin-bottom: size(8);
        }
        >*{
          color: #4CAF50;
          font-size: 27px;
          font-weight: 700;
          line-height: 120%; /* 32.4px */
          @media (max-width: 1440px) {
            font-size: sizeP(27);
          }
          @media (max-width: $sizeMb) {
            font-size: size(16);
          }
          &.btn-action{
            font-weight: 400;
            color: $--primary;
            font-size: size(14);
          }
        }
      }
      .content {
        color: #43464D;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        @media (max-width: 1440px) {
          font-size: sizeP(18);
        }
        @media (max-width: $sizeMb) {
          font-size: size(14);
        }

        p {
          margin-bottom: 12px;
          @media (max-width: 1440px) {
            margin-bottom: sizeP(12);
          }
          @media (max-width: $sizeMb) {
            margin-bottom: size(6);
          }
        }
        >*{
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section_cooperate {
  &.section_cooperate_layer{
    .item {
      position: relative;
      &:nth-child(odd) {
        padding-left: 60px;
        padding-right: 212px;
        @media (max-width: 1440px) {
          padding-left: sizeP(60);
          padding-right: sizeP(212);
        }
        @media (max-width: $sizeMb) {
          padding: 0;
        }
      }

      &:nth-child(even) {
        padding-right: 60px;
        padding-left: 212px;
        @media (max-width: 1440px) {
          padding-right: sizeP(60);
          padding-left: sizeP(212);
        }
        @media (max-width: $sizeMb) {
          padding: 0;
        }
      }

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          z-index: #{21 - $i}; // Đặt z-index từ 5 đến 1
          @media (max-width: $sizeMb) {
            z-index: unset;
          }
        }
      }
    }
  }
  .section_content {
    @media (max-width: $sizeMb) {
      display: flex;
      flex-direction: column;
      gap: size(12);
    }
    .swiper-slide {
      visibility: hidden;
      &.swiper-slide-active{
        visibility: visible;
      }
    }
    .item {
      position: relative;
      //&:nth-child(odd) {
      //  padding-left: 60px;
      //  padding-right: 212px;
      //  @media (max-width: 1440px) {
      //    padding-left: sizeP(60);
      //    padding-right: sizeP(212);
      //  }
      //  @media (max-width: $sizeMb) {
      //    padding: 0;
      //  }
      //}
      //
      //&:nth-child(even) {
      //  padding-right: 60px;
      //  padding-left: 212px;
      //  @media (max-width: 1440px) {
      //    padding-right: sizeP(60);
      //    padding-left: sizeP(212);
      //  }
      //  @media (max-width: $sizeMb) {
      //    padding: 0;
      //  }
      //}
      //
      //@for $i from 1 through 20 {
      //  &:nth-child(#{$i}) {
      //    z-index: #{21 - $i}; // Đặt z-index từ 5 đến 1
      //    @media (max-width: $sizeMb) {
      //      z-index: unset;
      //    }
      //  }
      //}

      .wrap {
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 32px 64px 0px rgba(0, 0, 0, 0.16);
        padding: 16px 60px;
        @media (max-width: 1440px) {
          padding: sizeP(16) sizeP(60);
          border-radius: sizeP(16);
          box-shadow: sizeP(10) sizeP(32) sizeP(64) 0px rgba(0, 0, 0, 0.16);
        }
        @media (max-width: $sizeMb) {
          align-items: start !important;
          gap: size(16);
          padding: size(16);
          border-radius: size(16);
          box-shadow: size(5) size(10) size(40) 0px rgba(0, 0, 0, 0.16);
        }

        .image {
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;
            @media (max-width: 1440px) {
              border-radius: sizeP(16);
              width: sizeP(200);
              height: sizeP(200);
            }
            @media (max-width: $sizeMb) {
              width: size(59);
              height: size(59);
              border-radius: size(8);
            }
          }
        }

        .content {
          width: calc(100% - 298px);
          @media (max-width: 1440px) {
            $s298p: sizeP(298);
            width: calc(100% - $s298p);
          }
          @media (max-width: $sizeMb) {
            width: unset;
            flex: 1;
          }

          .title {
            color: #4CAF50;
            font-size: 27px;
            font-weight: 700;
            line-height: 120%; /* 32.4px */
            margin-bottom: 12px;
            @media (max-width: 1440px) {
              font-size: sizeP(27);
              margin-bottom: sizeP(12);
            }
            @media (max-width: $sizeMb) {
              font-size: size(16);
              margin-bottom: size(8);
            }
          }
          .sub-title{
            color: #43464D;
            font-size: 20px;
            font-weight: 400;
            line-height: 150%; /* 30px */
            margin-bottom: 12px;
            @media (max-width: 1440px) {
              font-size: sizeP(20);
              margin-bottom: sizeP(12);
            }
            @media (max-width: $sizeMb) {
              font-size: size(15);
              margin-bottom: size(8);
            }
          }
          .desc {
            color: #43464D;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            @media (max-width: 1440px) {
              font-size: sizeP(16);
            }
            @media (max-width: $sizeMb) {
              font-size: size(14);
            }
          }
        }
      }

      &:hover {
        z-index: 22;

        .wrap {
          .image {
            img {

            }
          }

          .content {
            .title {

            }

            .desc {

            }
          }
        }
      }
    }
  }
}

.section_trans_partner {
  background: linear-gradient(180deg, #FFF 0%, #ECFAFF 11.17%, #CDE3EB 16.17%, #599bb3 33%, rgba(37, 100, 124, 0.9098039216) 55%, rgba(14, 76, 99, 0.9) 64%, rgb(74 154 183) 100%, rgba(71, 149, 199, 0.22) 105%, rgba(33, 150, 243, 0.08) 100%);
  //@media (max-width: $sizeMb) {
  //  background: linear-gradient(180deg, #FFF 0%, #ECFAFF 11.17%, #CDE3EB 21.17%, #599BB3 33%, #25647C 45.5%, #0E4C63 57.5%, #4A9AB7 74.17%, rgba(64, 142, 192, 0.40) 88.17%, rgba(33, 150, 243, 0.13) 100%);
  //}
  .section_content {
    .description {
      max-width: 888.5px;
      margin: auto;
      color: #FFF;
      text-align: justify;
      font-size: 17px;
      font-weight: 400;
      line-height: 150%; /* 30px */
      padding: 24px 32px;
      border-radius: 16px;
      background: #3B91B2;
      box-shadow: 5px 10px 24px 0px rgba(255, 255, 255, 0.50);
      margin-bottom: 60px;
      @media (max-width: 1440px) {
        max-width: sizeP(888);
        font-size: sizeP(17);
        padding: sizeP(24) sizeP(32);
        border-radius: sizeP(16);
        box-shadow: sizeP(5) sizeP(10) sizeP(24) 0px rgba(255, 255, 255, 0.50);
        margin-bottom: sizeP(60);
      }
      @media (max-width: $sizeMb) {
        max-width: 100%;
        font-size: size(14);
        padding: size(12) size(16);
        box-shadow: size(5) size(10) size(24) 0px rgba(255, 255, 255, 0.50);
        margin-bottom: size(50);
      }
    }

    .wrap_img {
      height: 628px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @media (max-width: 1440px) {
        height: sizeP(628);
      }
      @media (max-width: $sizeMb) {
        height: size(189);
        @include none_pd_scroll_mb();
        margin-bottom: size(25);
      }
      .text-action{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: all .3s;
        color: #FFF;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.40);
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        @media (max-width: 1440px) {
          font-size: sizeP(20);
        }
        @media (max-width: $sizeMb) {
          font-weight: 600;
          font-size: size(7);
        }
        &:hover{
          text-shadow: 2px 4px 8px #FFF;
          @media (max-width: 1440px) {
            text-shadow: sizeP(2) sizeP(4) sizeP(8) #FFF;
          }
          @media (max-width: $sizeMb) {
            text-shadow: size(2) size(4) size(8) #FFF;
          }
        }
      }
      img {
        width: 461px;
        height: 461px;
        @media (max-width: 1440px) {
          width: sizeP(461);
          height: sizeP(461);
        }
        @media (max-width: $sizeMb) {
          //width: size(180);
          //height: size(180);
          width: 34vw;
          height: 34vw;
        }
      }

      .text {
        padding: 20px 32px;
        background-color: transparent;
        position: absolute;
        border: 1px solid #FFF;
        border-radius: 16px;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        transition: all .3s;
        text-align: center;
        @media (max-width: 1440px) {
          padding: sizeP(20) sizeP(32);
          border: sizeP(1) solid #FFF;
          border-radius: sizeP(16);
          font-size: sizeP(20);
        }
        @media (max-width: $sizeMb) {
          padding: size(4) size(6);
          border: size(1) solid #FFF;
          border-radius: size(6);
          font-size: size(9);
        }

        &:hover {
          text-shadow: 2px 4px 9px #FFF;
          box-shadow: 2px 4px 6px 0px #eaeaea6b;
          font-weight: 600;
          @media (max-width: 1440px) {
            text-shadow: sizeP(2) sizeP(4) sizeP(9) #FFF;
            box-shadow: sizeP(2) sizeP(4) sizeP(6) 0px #eaeaea6b;
          }
          @media (max-width: $sizeMb) {
            text-shadow: size(2) size(4) size(9) #FFF;
            box-shadow: size(2) size(4) size(6) 0px #eaeaea6b;
          }
        }

        &:nth-child(1) {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          top: 115px;
          right: 837px;
          @media (max-width: 1440px) {
            top: sizeP(115);
            right: sizeP(837);
          }
          @media (max-width: $sizeMb) {
            top: size(32);
            right: size(240);
          }
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          right: 899px;
          @media (max-width: 1440px) {
            right: sizeP(899);
          }
          @media (max-width: $sizeMb) {
            right: size(260);
          }
        }

        &:nth-child(4) {
          top: 456px;
          right: 844px;
          @media (max-width: 1440px) {
            top: sizeP(456);
            right: sizeP(844);
          }
          @media (max-width: $sizeMb) {
            top: size(124);
            right: size(240);
          }
        }

        &:nth-child(5) {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(6) {
          top: 456px;
          left: 844px;
          @media (max-width: 1440px) {
            top: sizeP(456);
            left: sizeP(844);
          }
          @media (max-width: $sizeMb) {
            top: size(127);
            left: size(240);
          }
        }

        &:nth-child(7) {
          top: 50%;
          transform: translateY(-50%);
          left: 899px;
          @media (max-width: 1440px) {
            left: sizeP(899);
          }
          @media (max-width: $sizeMb) {
            left: size(260);
          }
        }

        &:nth-child(8) {
          top: 115px;
          left: 837px;
          @media (max-width: 1440px) {
            top: sizeP(115);
            left: sizeP(837);
          }
          @media (max-width: $sizeMb) {
            top: size(32);
            left: size(240);
          }
        }
      }
    }
  }

  .wrap_btn_info {
    text-align: center;
    @media (max-width: $sizeMb) {
      margin-top: size(32);
    }
    a {
      display: inline-block;
      padding: 16px 32px;
      background-color: #3B91B2;
      border: 1px solid #FFF;
      border-radius: 16px;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      @media (max-width: 1440px) {
        padding: sizeP(16) sizeP(32);
        border: sizeP(1) solid #FFF;
        border-radius: sizeP(16);
        font-size: sizeP(16);
      }
      @media (max-width: $sizeMb) {
        padding: size(12) size(16);
        border: size(1) solid #FFF;
        border-radius: size(16);
        font-size: size(14);
      }
    }
  }

}

.section_contact {
  background: linear-gradient(180deg, rgba(33, 150, 243, 0.13) 0%, rgba(33, 150, 243, 0.06) 100%);
  .wrap_form {
    max-width: 832px;
    margin: auto;
    @media (max-width: 1440px) {
      max-width: sizeP(832);
    }
    @media (max-width: $sizeMb) {
      max-width: 100%;
    }

    .form-group {
      margin-bottom: 32px;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(32);
      }
      @media (max-width: $sizeMb) {
        margin-bottom: size(12);
      }

      .form-control {
        border-radius: 16px;
        border: 1px solid #989B9F;
        background: #FFF;
        padding: 14px 24px;
        color: #989B9F;
        font-size: 20px;
        font-weight: 400;
        @media (max-width: 1440px) {
          padding: sizeP(14) sizeP(24);
          font-size: sizeP(20);
          border-radius: sizeP(16);
          border: sizeP(1) solid #989B9F;
        }
        @media (max-width: $sizeMb) {
          padding: size(14) size(24);
          font-size: size(20);
          border-radius: size(16);
          border: size(1) solid #989B9F;
        }
      }

      .btn {
        padding: 16px 58px;
        border-radius: 16px;
        border: 1px solid #AFB5B9;
        background: #FFF;
        color: $--gray;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
        @media (max-width: 1440px) {
          padding: sizeP(16) sizeP(58);
          border-radius: sizeP(16);
          border: sizeP(1) solid #AFB5B9;
          font-size: sizeP(16);
        }
        @media (max-width: $sizeMb) {
          padding: size(12) size(16);
          border-radius: size(12);
          border: size(1) solid #AFB5B9;
          font-size: size(14);
        }
      }
    }
  }
}

.section_banner_short {
  .wrapper{
    display: flex;
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.section_shop_store {
  .group {
    .section_content {
      img {
        width: 100%;
        height: 386px;
        object-fit: cover;
        object-position: center;
        @media (max-width: 1440px) {
          height: sizeP(386);
        }
        @media (max-width: $sizeMb) {
          height: size(250);
        }
      }
    }
  }
}

.section_banner_and_product {
  .wrapper {
    .banner {
      img {
        width: 100%;
      }
    }

    .wrap_product {
      @media (max-width: $sizeMb) {
        @include none_pd_scroll_mb_left();
      }
      .row {
        margin: 0 -16px;
        @media (max-width: 1440px) {
          margin: 0 sizeP(16)*-1;
        }
        > * {
          padding: 0 16px;
          @media (max-width: 1440px) {
            padding: 0 sizeP(16);
          }
          @media (max-width: $sizeMb) {

          }
        }
      }

    }

    .wrap_logo{
      width: 189px;
      height: auto;
      @media (max-width: 1440px) {
        width: sizeP(189);
      }
      @media (max-width: $sizeMb) {
        width: size(189);
      }
    }

    &.wrapper-layer{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
      @media (max-width: 1440px) {
        gap: sizeP(32);
      }
      @media (max-width: $sizeMb) {
        flex-direction: column;
        gap: size(12);
      }
    }
  }
}

.section_link_coop {
  .section_content {
    .wrapper {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      max-width: 900px;
      margin: auto;
      @media (max-width: 1440px) {
        gap: sizeP(32);
        max-width: sizeP(900);
      }
      @media (max-width: $sizeMb) {
        gap: size(12);
        max-width: 100%;
      }

      .lb_link_coop {
        display: inline-block;
        flex: 1 1 calc(50% - 16px);
        text-align: center;
        border-radius: 16px;
        border: 1px solid #AFB5B9;
        color: #43464D;
        padding: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3; /* 150% */
        @media (max-width: 1441px) {
          padding: sizeP(10);
          font-size: sizeP(16);
          border-radius: sizeP(16);
          border: sizeP(1) solid #AFB5B9;
        }
        @media (max-width: $sizeMb) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: size(12);
          font-size: size(16);
          border-radius: size(16);
          border: size(1) solid #C9CBCF;
          min-height: size(104);

        }

        &:hover, &.active {
          border-color: transparent;
          background: rgba(33, 150, 243, 0.20);
          @media (max-width: 1441px) {
            box-shadow: 0px size(4) size(12) 0px rgba(0, 0, 0, 0.16);
          }
        }
      }
    }
  }
}

.section_info_coop {
  .section_title {
    margin-bottom: 50px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(50);
    }
    @media (max-width: $sizeMb) {
      margin-bottom: size(16);
    }
  }

  .section_content {
    text-align: center;

    .title_map {
      color: $--gray;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 36px;
      @media (max-width: 1440px) {
        font-size: sizeP(24);
        margin-bottom: sizeP(36);
      }
      @media (max-width: $sizeMb) {
        font-size: size(16);
        margin-bottom: size(24);
      }
    }
    .wrap_map{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .map {
      position: relative;
      img {
        max-width: 100%;
        width: 650px;
        @media (max-width: 1440px) {
          width: sizeP(650);
        }
        @media (max-width: $sizeMb) {
          width: 100%;
        }
      }
      .shop, .store{
        position: absolute;
        border-radius: 16px;
        border: 1px solid #AFB5B9;
        background: #FFF;
        padding: 8px 40px;
        display: flex;
        align-items: end;
        color: #989B9F;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        gap: 2px;
        cursor: pointer;
        @media (max-width: 1440px) {
          border-radius: sizeP(16);
          border: sizeP(1) solid #AFB5B9;
          padding: sizeP(8) sizeP(40);
          font-size: sizeP(27);
          gap: sizeP(2);
        }
        @media (max-width: $sizeMb) {
          border-radius: size(8);
          border: size(1) solid #AFB5B9;
          padding: size(4) size(16);
          font-size: size(17);
          gap: size(2);
        }
        span{
          color: #0484e4;
          font-size: 44px;
          font-weight: 700;
          line-height: 1;
          @media (max-width: 1440px) {
            font-size: sizeP(44);
          }
          @media (max-width: $sizeMb) {
            font-size: size(20);
          }
        }
        &:hover{
          background-color: #f9f9f9;
          color: #898989;
          border-color: #0377cc;
          span{
            color: #0377cc;
          }
        }
      }
      .shop{
        top: 100px;
        left: 60px;
        @media (max-width: 1440px) {
          top: sizeP(100);
          left: sizeP(60);
        }
        @media (max-width: $sizeMb) {
          top: size(50);
          left: size(30);
        }
      }
      .store{
        top: 205px;
        left: 340px;
        @media (max-width: 1440px) {
          top: sizeP(205);
          left: sizeP(340);
        }
        @media (max-width: $sizeMb) {
          top: size(100);
          left: size(170);
        }
      }
    }
  }

}

.section_form_coop {
  .section_title {
    margin-bottom: 50px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(50);
    }
    @media (max-width: $sizeMb) {
      margin-bottom: size(16);
    }
  }

  .section_content {
    .wrap_form {
      padding: 32px;
      border-radius: 16px;
      background: rgba(33, 150, 243, 0.20);
      width: 872px;
      margin: auto;
      @media (max-width: 1440px) {
        padding: sizeP(32);
        border-radius: sizeP(16);
        width: sizeP(872);
      }
      @media (max-width: $sizeMb) {

      }

      .form-control {
        min-height: 52px;
        @media (max-width: 1440px) {
          min-height: sizeP(52);
        }
        @media (max-width: $sizeMb) {

        }
      }
    }
  }
}

.section_recruitment{
  .wrap_jobs{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D727B;
    font-weight: 500;
    .wrap_nav{
      overflow: auto;
      max-width: max-content;
    }
    .item {
      display: inline-block;
      padding: 16px;
      color: #6D727B;
      position: relative;
      @media (max-width: 1440px) {
        padding: sizeP(16);
      }
      @media (max-width: $sizeMb) {
        padding: size(16);
      }
      &.item-fixed-title{
        pointer-events: none;
      }
      &.active{
        &:not(.item-fixed-title) {
          font-weight: 600;
          color: #2196F3 !important;
        }
      }
      &:hover{
        &:not(.item-fixed-title) {
          font-weight: 600;
          color: #5d5f6a;
        }
        &.active{
          &:not(.item-fixed-title) {
            font-weight: 700;
            color: #2196F3 !important;
          }
        }
      }
      &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #D5D7DB;
        @media (max-width: 1440px) {
          width: sizeP(1);
          height: sizeP(20);
        }
        @media (max-width: $sizeMb) {
          width: size(1);
          height: size(20);
        }
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
    }
    .btn-action-more{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      @media (max-width: 1440px) {
        padding: sizeP(10);
      }
      @media (max-width: $sizeMb) {
          padding: size(8);
      }
      svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        @media (max-width: 1440px) {
          width: sizeP(20);
          height: sizeP(20);
        }
        @media (max-width: $sizeMb) {
          width: size(16);
          height: size(16);
        }
        path{
          fill: #fff;
        }
      }
      &.dropdown-toggle{
        padding: 10px !important;
        @media (max-width: 1440px) {
          padding: sizeP(10) !important;
        }
        @media (max-width: $sizeMb) {
          padding: size(8) !important;
        }
        &:after{
          display: none;
        }
      }
    }
    .wrap{
      width: max-content;
      display: flex;
      color: #fff;
      @media (max-width: 1440px) {

      }
      @media (max-width: $sizeMb) {

      }

    }
  }
  hr{
    margin: 0;
    border-top: 3px solid #D5D7DB;
    @media (max-width: 1440px) {
      border-top: sizeP(3) solid #D5D7DB;
    }
    @media (max-width: $sizeMb) {
      border-top: size(3) solid #D5D7DB;
    }
  }
  .wrap_info_job{
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #e7e7e7;
    @media (max-width: 1440px) {
      border-radius: sizeP(16);
      border: sizeP(1) solid #e7e7e7;
    }
    @media (max-width: $sizeMb) {
      border-radius: size(8);
      border: size(1) solid #e7e7e7;
    }
    box-shadow: 2px 4px 15px 0px rgb(0 0 0 / 14%);
    @media (max-width: 1440px) {
      box-shadow: sizeP(2) sizeP(4) sizeP(15) 0px rgb(0 0 0 / 14%);
    }
    @media (max-width: $sizeMb) {
      box-shadow: size(2) size(4) size(15) 0px rgb(0 0 0 / 14%);
    }
    .row{
      .bd-r-g{
        border-right: 1px solid #cdcdcd;
        @media (max-width: 1440px) {
          border-right: sizeP(1) solid #cdcdcd;
        }
        @media (max-width: $sizeMb) {
          border-right: unset;
        }
        &:last-child{
          border-right: unset;
        }
      }
    }

    .wrap_content_job{
      padding: 40px 40px;
      @media (max-width: 1440px) {
        padding: sizeP(40) sizeP(40);
      }
      @media (max-width: $sizeMb) {
        padding: size(24) size(16);
      }
      gap: 32px;
      @media (max-width: 1440px) {
        gap: sizeP(32);
      }
      @media (max-width: $sizeMb) {
        gap: size(16);
      }
      .w-info{
        flex: 1;
        .info{
          margin-bottom: 24px;
          @media (max-width: 1440px) {
              margin-bottom: sizeP(24);
          }
          @media (max-width: $sizeMb) {
            margin-bottom: size(16);
            padding-bottom: size(16);
            border-bottom: size(1) solid #cdcdcd;
          }
          .label{
            color: #43464D;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%; /* 24px */
            margin-bottom: 12px;
            @media (max-width: 1440px) {
              font-size: sizeP(20);
              margin-bottom: sizeP(12);
            }
            @media (max-width: $sizeMb) {
              font-size: size(16);
              margin-bottom: size(12);
            }
          }
          .content{
            color: #43464D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4;
            letter-spacing: 1.1px;
            @media (max-width: 1440px) {
              font-size: sizeP(16);
              letter-spacing: sizeP(1.1);
            }
            @media (max-width: $sizeMb) {
              font-size: size(14);
              letter-spacing: size(1.1);
            }
          }
        }
      }
      .w-actions{
        text-align: end;
        .expired{
          color: #43464D;
          text-align: right;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.5; /* 150% */
          margin-bottom: 12px;
          @media (max-width: 1440px) {
            font-size: sizeP(15);
            margin-bottom: sizeP(12);

          }
          @media (max-width: $sizeMb) {
            font-size: size(10);
            margin-bottom: size(12);
          }
        }
      }
    }
  }
}