.dropdown-toggle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  width: 20px;  /* Adjust the size of the icon */
  height: 20px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0003 13.5C9.54495 13.5 9.09018 13.3245 8.74548 12.9798L3.31215 7.54648C3.29062 7.52495 3.27734 7.49422 3.27734 7.45837C3.27734 7.42251 3.29062 7.39178 3.31215 7.37025C3.33367 7.34873 3.36441 7.33545 3.40026 7.33545C3.43611 7.33545 3.46685 7.34873 3.48837 7.37025L8.92171 12.8036C9.51697 13.3988 10.4836 13.3988 11.0788 12.8036L16.5121 7.37025C16.5337 7.34873 16.5644 7.33545 16.6003 7.33545C16.6361 7.33545 16.6668 7.34873 16.6884 7.37025C16.7099 7.39178 16.7232 7.42251 16.7232 7.45837C16.7232 7.49422 16.7099 7.52495 16.6884 7.54648L11.255 12.9798C10.9103 13.3245 10.4556 13.5 10.0003 13.5Z" fill="%236D727B" stroke="%236D727B"></path></svg>');
  background-size: 100% 100%;
  border: unset;
}
.flex-p-16{
  margin: 0 -16px;
  @media (max-width: 1440px) {
    padding: sizeP(16) 0 sizeP(24);
    margin: 0 sizeP(16)*-1;
  }
  >*{
    padding: 0 16px;
    @media (max-width: 1440px) {
      padding: 0 sizeP(16);
    }
  }
}
.form-control,.form-select{
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #989B9F;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  min-height: 52px;
  @media (max-width: 1441px) {
    font-size: sizeP(16);
    padding: sizeP(16);
    border-radius: sizeP(16);
    border: sizeP(1) solid #989B9F;
    min-height: sizeP(52);
  }
}
.form-select{
  background-position: right sizeP(10) center;
  background-size: sizeP(16) sizeP(12);
}
.lb-btn-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px;
  min-width: 125px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9D9D9C;
  background: #FFF;
  @media (max-width: 1441px) {
    padding: sizeP(11);
    min-width: sizeP(125);
    border-radius: sizeP(8);
    border: sizeP(1) solid #9D9D9C;
    height: sizeP(48);
  }
  img{
    height: 20px;
    width: auto;
    @media (max-width: 1441px) {
      height: sizeP(20);
    }
    &.messenger{
      height: 36px;
      @media (max-width: 1441px) {
        height: sizeP(36);
      }
    }
    &.viper{
      height: 28px;
      @media (max-width: 1441px) {
        height: sizeP(28);
      }
    }
    &.whatsapp{
      height: 20px;
      @media (max-width: 1441px) {
        height: sizeP(20);
      }
    }
    &.zalo{
      height: 18px;
      @media (max-width: 1441px) {
        height: sizeP(18);
      }
    }
    &.gmail{
      height: 24px;
      @media (max-width: 1441px) {
        height: sizeP(24);
      }
    }
  }
}
.lb-large{
  padding: 35px 160px;
  display: inline-block;
  color: #6D727B;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  @media (max-width: 1441px) {
    padding: sizeP(35) sizeP(160);
    font-size: sizeP(20);
    border-radius: sizeP(16);
    border: sizeP(1) solid #AFB5B9;
  }
}
.lb-small{
  display: inline-block;
  padding: 20px;
  color: #6D727B;
  font-size: 20px;
  font-weight: 700;
  line-height: 1; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  white-space: nowrap;
  @media (max-width: 1441px) {
    padding: sizeP(20);
    font-size: sizeP(20);
    border-radius: sizeP(16);
    border: sizeP(1) solid #AFB5B9;
  }
  &.active,&:hover{
    background: #EEE;
    color: #2196F3;
    svg{
      path{
        &[fill="#6D727B"]{
          fill: #2196F3;
        }
        &[stroke="#6D727B"]{
          stroke: #2196F3;
        }
      }
    }
  }
}
.lb-xsmall{
  display: inline-block;
  padding: 16px;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  white-space: nowrap;
  @media (max-width: 1441px) {
    padding: sizeP(16);
    font-size: sizeP(16);
    border-radius: sizeP(16);
    border: sizeP(1) solid #AFB5B9;
  }
  img, svg{
    margin-top: -2px;
    width: 20px;
    height: auto;
    margin-left: 8px;
    @media (max-width: 1441px) {
      margin-top: sizeP(2)*-1;
      width: sizeP(20);
      margin-left: sizeP(8);
    }
    path{
      transition: all .3s;
    }
  }
  &.active,&:hover{
    background: #EEE;
    color: #2196F3;
    svg{
      path{
        &[fill="#6D727B"]{
          fill: #2196F3;
        }
        &[stroke="#6D727B"]{
          stroke: #2196F3;
        }
      }
    }
  }
}
.lb-xxsmall-primary{
  display: inline-block;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2; /* 150% */
  border-radius: 12px;
  background: #2196F3;
  white-space: nowrap;
  @media (max-width: 1441px) {
    padding: sizeP(12) sizeP(16);
    font-size: sizeP(14);
    border-radius: sizeP(12);
  }
  &:hover{
    color: #ffffff !important;
  }
}
.lb-xsmall-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  white-space: nowrap;
  @media (max-width: 1441px) {
    padding: sizeP(10);
    border-radius: sizeP(16);
    border: sizeP(1) solid #AFB5B9;
  }
  img, svg{
    height: 32px;
    @media (max-width: 1441px) {
      height: sizeP(32);
    }
    path{
      transition: all .3s;
    }
  }
  &.active,&:hover{
    background: #EEE;
    color: #2196F3;
  }
}
.lb-text{
  color: #989B9F;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  @media (max-width: 1441px) {
    font-size: sizeP(16);
  }
  span{
    color: #6D727B;
  }
}
.lb-text-primary{
  color: #2196F3;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  @media (max-width: 1441px) {
    font-size: sizeP(16);
  }
  span{
    color: #6D727B;
  }
}
.lb-link-bd{
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  transition: all .3s;
  @media (max-width: 1441px) {
    padding: sizeP(8) 0px;
    border-bottom: sizeP(2) solid transparent;
    font-size: sizeP(16);
  }
  &:hover, &.active{
    color: #2196F3;
    border-bottom: 2px solid #2196F3;
    @media (max-width: 1441px) {
      border-bottom: sizeP(2) solid #2196F3;
    }
  }
}
.pd-16{
  padding: 16px;
  @media (max-width: 1441px) {
    padding: sizeP(16);
  }
}
.pd-s-16{
  padding-left: 16px;
  @media (max-width: 1441px) {
    padding-left: sizeP(16);
  }
}
.pd-e-16{
  padding-right: 16px;
  @media (max-width: 1441px) {
    padding-right: sizeP(16);
  }
}
.pd-s-32{
  padding-left: 32px;
  @media (max-width: 1441px) {
    padding-left: sizeP(32);
  }
}
.pd-e-32{
  padding-right: 32px;
  @media (max-width: 1441px) {
    padding-right: sizeP(32);
  }
}
.wrap_list_link_lb{
  &.wrap_list_link_lb_bd{
    border-bottom: 1px solid #D5D7DB;
    margin-bottom: 35px;
    @media (max-width: 1440px) {
      border-bottom: sizeP(1) solid #D5D7DB;
      margin-bottom: sizeP(35);
    }
  }
  .list_link_lb{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    @media (max-width: 1440px) {
      margin: 0 sizeP(16)*-1;
    }

    > * {
      padding: 0 16px;
      @media (max-width: 1440px) {
        padding: 0 sizeP(16);
      }
    }

    .list_link_item{
      display: flex;
      margin-bottom: 32px;
      flex: 1 1 25%;
      max-width: 25%;
      box-sizing: border-box;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(32);
      }
      .lb-link{
        width: 100%;
        text-align: center;
        transition: all .3s;
        &.active,&:hover{
          background: #EEE;
          color: #2196F3;
        }
      }
      &.list_link_item_50{
        flex: 1 1 50%;
        max-width: 50%;
      }
    }
  }
}
.wrap_list_link_text{
  margin-bottom: 32px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media (max-width: 1441px) {
    margin-bottom: sizeP(32);
  }
  .list_link_lb_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    .list_link_text_item{
      display: flex;
      margin-right: 48px;
      @media (max-width: 1441px) {
        margin-right: sizeP(48);
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.th-50{
  width: 50px;
  @media (max-width: 1441px) {
    width: sizeP(50);
  }
}
.wrap_table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 1440px) {
      border-radius: sizeP(8);
    }
    thead th {
      background-color: #2196F3;
      padding: 20px;
      position: relative;
      border-bottom: 1px solid #2196F3;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      @media (max-width: 1440px) {
        padding: sizeP(20);
        border-bottom: sizeP(1) solid #2196F3;
        font-size: sizeP(16);
      }
      &.sorting::before,
      &.sorting::after {
        content: none;
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
      }
      &.sorting::before {
        content: '';
        position: absolute;
        right: 18px;
        width: 14px;
        height: 20px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20" fill="none"> <path d="M6.79522 3.02978L6.44167 2.67622L6.08811 3.02978L3.42978 5.68811C3.40825 5.70964 3.37752 5.72292 3.34167 5.72292C3.30582 5.72292 3.27508 5.70964 3.25355 5.68811C3.23203 5.66659 3.21875 5.63585 3.21875 5.6C3.21875 5.56415 3.23203 5.53342 3.25355 5.51189L6.35358 2.41186C6.37753 2.38791 6.40909 2.375 6.44167 2.375C6.47429 2.375 6.50588 2.38794 6.5298 2.41186C6.5298 2.41186 6.5298 2.41186 6.5298 2.41186L9.62978 5.51189L9.62978 5.51189C9.65131 5.53342 9.66458 5.56415 9.66458 5.6C9.66458 5.63585 9.65131 5.66659 9.62978 5.68811C9.6151 5.70279 9.60106 5.71123 9.58823 5.7164C9.57492 5.72175 9.5594 5.72498 9.54169 5.72498C9.52398 5.72498 9.50844 5.72175 9.49511 5.71638C9.48225 5.71121 9.46821 5.70277 9.45356 5.68811L6.79522 3.02978Z" fill="white" stroke="white"/> <path d="M6.44141 17.625C6.41126 17.625 6.37998 17.6127 6.35433 17.5871C6.32869 17.5614 6.31641 17.5301 6.31641 17.5V2.5C6.31641 2.46985 6.32869 2.43857 6.35433 2.41293C6.37998 2.38728 6.41126 2.375 6.44141 2.375C6.47155 2.375 6.50283 2.38728 6.52848 2.41293C6.55412 2.43857 6.56641 2.46985 6.56641 2.5V17.5C6.56641 17.5301 6.55412 17.5614 6.52848 17.5871C6.50283 17.6127 6.47155 17.625 6.44141 17.625Z" fill="white" stroke="white"/> </svg>');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        @media (max-width: 1440px) {
          right: sizeP(18);
          width: sizeP(14);
          height: sizeP(20);
        }
      }

      &.sorting::after {
        content: '';
        position: absolute;
        right: 8px;
        width: 14px;
        height: 20px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20" fill="none"><path transform="translate(-8, 0)" d="M15.2346 18.125C15.068 18.125 14.9096 18.0584 14.7929 17.9417L11.693 14.8417C11.4513 14.6 11.4513 14.2 11.693 13.9583C11.9346 13.7167 12.3346 13.7167 12.5763 13.9583L15.2346 16.6167L17.8929 13.9583C18.1346 13.7167 18.5346 13.7167 18.7763 13.9583C19.018 14.2 19.018 14.6 18.7763 14.8417L15.6763 17.9417C15.5596 18.0584 15.393 18.125 15.2346 18.125Z" fill="white"/><path transform="translate(-8, 0)" d="M15.2266 18.125C14.8849 18.125 14.6016 17.8417 14.6016 17.5V2.5C14.6016 2.15833 14.8849 1.875 15.2266 1.875C15.5682 1.875 15.8516 2.15833 15.8516 2.5V17.5C15.8516 17.8417 15.5766 18.125 15.2266 18.125Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        @media (max-width: 1440px) {
          right: sizeP(8);
          width: sizeP(14);
          height: sizeP(20);
        }
      }
    }

    tbody tr {
      background-color: #F7F7F7;
      border-bottom: 1px solid #F7F7F7;
      @media (max-width: 1440px) {
        border-bottom: sizeP(1) solid #F7F7F7;
      }

      td {
        padding: 20px;
        vertical-align: middle;
        color: #343434;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        transition: all .3s;
        background-color: #F7F7F7;
        @media (max-width: 1440px) {
          padding: sizeP(20);
          font-size: sizeP(16);
          line-height: sizeP(24);
        }
        a{
          &:hover{
            color: #2196F3;
          }
        }
        .btn-show-tr{
          transition: all .3s;
          img,svg{
            transition: all .3s;
            width: 20px;
            height: auto;
            @media (max-width: 1440px) {
              width: sizeP(20);
            }
          }
        }
      }
      &:hover {
        background-color: #DBEEFD;
      }
      &.selected {
        background-color: #DBEEFD;
        td{
          .btn-show-tr{
            img, svg{
              transform: rotate(180deg);
            }
          }
        }
      }
    }


    tbody tr:nth-child(even) {
      background-color: #f7f7f7;
    }

    tbody tr.selected td {
      background-color: #DDDDDD;
    }

    tbody tr:not(.details-row):hover td {
      background-color: #d6ebff;
    }

    &.no-footer {
      border-bottom: none;
    }

    .details-row{
      >td{
        background-color: #fff;
        padding: 0;
      }
    }
  }
}
.wrap_table_transparent {
  .table {
    margin-bottom: 0;

    th, td {
      background-color: transparent;
      padding: 20px 0;
      text-align: center;
      vertical-align: middle;
      @media (max-width: 1441px) {
        padding: sizeP(20) 0;
      }
    }

    thead {
      th {
        color: #6D727B;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
        border-bottom: 1px solid #D5D7DB;
        @media (max-width: 1441px) {
          font-size: sizeP(16);
          border-bottom: sizeP(1) solid #D5D7DB;
        }
      }
    }

    tbody {
      tr {
        td {
          color: #6D727B;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px; /* 150% */
          border-bottom: 1px solid #D5D7DB;
          @media (max-width: 1441px) {
            font-size: sizeP(16);
            line-height: sizeP(24); /* 150% */
            border-bottom: sizeP(1) solid #D5D7DB;
          }
          a {
            text-decoration: none;
            font-weight: 500;

            &:hover {
              text-decoration: underline; // Underline on hover
            }
          }
        }
        &:last-child{
          td{
            border-bottom: 0;
          }
        }
        &:hover{
          td{
            a{
              color: #2196F3;
            }
          }
        }
      }
    }
  }
}
.wrap_table_detail{
  .table {
    margin-bottom: 0;

    th, td {
      background-color: transparent;
      padding: 14px 14px;
      text-align: center;
      vertical-align: middle;
      background-color: #fff;
      @media (max-width: 1441px) {
        padding: sizeP(14);
      }
    }

    thead {
      th {
        color: #6D727B;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
        border-bottom: 1px solid #D5D7DB;
        @media (max-width: 1441px) {
          font-size: sizeP(16);
          border-bottom: sizeP(1) solid #D5D7DB;
        }
      }
    }

    tbody {
      tr {
        td {
          color: #6D727B;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px; /* 150% */
          border-bottom: 1px solid #D5D7DB;
          @media (max-width: 1441px) {
            font-size: sizeP(16);
            line-height: sizeP(24); /* 150% */
            border-bottom: sizeP(1) solid #D5D7DB;
          }
          a {
            text-decoration: none;
            font-weight: 500;

            &:hover {
              text-decoration: underline; // Underline on hover
            }
          }
        }
        &:hover{
          td{
            a{
              color: #2196F3;
            }
          }
        }
      }
    }
  }

}
.wrap_tr_detail{
  padding: 16px 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .w_tr_action{
    > * {
      width: 100%;
      text-align: center;
    }
  }
  .w_tr_action_text{
    text-align: center;
    >*{
      width: auto;
    }
  }
  &.wrap_tr_detail_4{
    >*{
      flex: 1 1 20%;
      max-width: 20%;
      &.tr_item_4{
        display: flex;
        flex: 1 1 40%;
        max-width: 40%;
      }
      &.form-group{
        .form-label{
          white-space: nowrap;
          margin-right: 32px;
          margin-bottom: 0;
          @media (max-width: 1440px) {
            margin-right: sizeP(32);
          }
        }
        .group_input_btn{
          width: 100%;
          position: relative;
          a{
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

}
.wrap_send_invoice{
  padding: 16px 48px 24px;
  @media (max-width: 1440px) {
    padding: sizeP(16) sizeP(48) sizeP(24);
  }
  >*{
    margin-right: 32px;
    @media (max-width: 1440px) {
      margin-right: sizeP(32);
    }
    &:last-child{
      margin-right: 0;
    }
  }
  .form-group{
    .form-label{
      white-space: nowrap;
      margin-right: 32px;
      margin-bottom: 0;
      @media (max-width: 1440px) {
        margin-right: sizeP(32);
      }
    }
    .form-control{
      width: 500px;
      @media (max-width: 1440px) {
        width: sizeP(500);
      }
    }
  }
  .form-select{
    width: 133px;
    @media (max-width: 1440px) {
      width: sizeP(133);
    }
  }
  .form-control,.form-select{
    height: 52px;
    @media (max-width: 1440px) {
      height: sizeP(52);
    } 
  }
}
.wrap_card{
  padding: 32px 60px;
  border-radius: 16px;
  background: #F7F7F7;
  margin-bottom: 35px;
  @media (max-width: 1440px) {
    padding: sizeP(32) sizeP(60);
    border-radius: sizeP(16);
    margin-bottom: sizeP(35);
  }
  .wrap_card_head{
    margin-bottom: 24px;
    @media (max-width: 1440px) {
      margin-bottom: sizeP(24);
    }
    .title{
      color: #343434;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      @media (max-width: 1440px) {
        font-size: sizeP(20);
      }
    }
    .lb-text-link{
      color: #6D727B;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (max-width: 1440px) {
        font-size: sizeP(14);
      }
      svg{
        width: 16px;
        height: auto;
        margin-left: 8px;
        @media (max-width: 1440px) {
          width: sizeP(16);
          margin-left: sizeP(8);
        }
        path{
          transition: all .3s;
        }
        &:hover{

        }
      }
      img{
        width: 16px;
        height: auto;
        margin-left: 8px;
        margin-top: 2px;
        @media (max-width: 1440px) {
          width: sizeP(16);
          margin-left: sizeP(8);
          margin-top: sizeP(2);
        }
      }
    }
  }
  .wrap_card_body{
    .w_info{
      margin-bottom: 24px;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(24);
      }
      .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        @media (max-width: 1440px) {
          margin-bottom: sizeP(8);
        }
        .label{
          width: 160px;
          color: #6D727B;
          font-size: 16px;
          font-weight: 700;
          line-height: 120%; /* 19.2px */
          margin-right: 32px;
          @media (max-width: 1440px) {
            width: sizeP(160);
            font-size: sizeP(16);
            margin-right: sizeP(32);
          }
        }
        .text{
          width: calc(100% - 192px);
          color: #6D727B;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          @media (max-width: 1440px) {
            width: calcC(100%, 192);
            font-size: sizeP(16);
            line-height: sizeP(24);
          }
        }
      }
    }
    .w_send_social{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 26px;
      @media (max-width: 1440px) {
        margin-bottom: sizeP(26);
      }
      .form-group{
        width: 233px;
        @media (max-width: 1440px) {
          width: sizeP(233);
        }
      }
    }
    .w_social{
      display: flex;
      flex-direction: row;
      align-items: center;
      .lb-btn-social{
        margin-right: 32px;
        @media (max-width: 1440px) {
          margin-right: sizeP(32);
        }
        &:last-child{
          margin-right: 0 ;
        }
      }
    }
  }
}
.wrap_tooltip {
  padding: 10px;
  @media (max-width: 1921px) {
    padding: sizeP(10);
  }
  @media (max-width: 991px) {
    padding: size(10);
  }

  .title {
    margin-bottom: 15px;
    @media (max-width: 1921px) {
      margin-bottom: sizeP(15);
    }
    @media (max-width: 991px) {
      margin-bottom: size(15);
    }
  }

  .record {
    text-align: center;
  }
}
.modal-custom{
  .modal-dialog{
    max-width: 600px;
    @media (max-width: 1440px) {
      max-width: sizeP(600);
    }
    .modal-content{
      border-radius: 16px;
      background: #FFF;
      border: 0;
      @media (max-width: 1440px) {
        border-radius: sizeP(16);
      }
      .modal-header{
        position: relative;
        padding: 32px 32px 0;
        border: 0;
        @media (max-width: 1440px) {
          padding: sizeP(32) sizeP(32) 0;
        }
        .modal-title{
          color: #6D727B;
          font-size: 27px;
          font-weight: 700;
          line-height: 120%;
          @media (max-width: 1440px) {
            font-size: sizeP(27);
          }
        }
        .btn-close{
          position: absolute;
          top: 32px;
          right: 32px;
          width: auto;
          height: auto;
          padding: 0;
          margin: 0;
          background: unset;
          opacity: 1;
          display: flex;
          @media (max-width: 1440px) {
            top: sizeP(32);
            right: sizeP(32);
          }
          svg{
            width: 20px;
            height: auto;
            @media (max-width: 1440px) {
              width: sizeP(20);
            }
          }
          &:hover{
            box-shadow: unset;
          }
        }
      }
      .modal-body{
        border: 0;
        padding: 48px 32px;
        @media (max-width: 1440px) {
          padding: sizeP(48) sizeP(32);
        }
      }
      .modal-footer{
        border: 0;
        padding: 0 32px 32px;
        @media (max-width: 1440px) {
          padding: 0 sizeP(32) sizeP(32);
        }
      }
    }
  }
}
.wrap_form_modal{
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    .form-check{
      padding-left: 36px;
      .form-check-input{
        width: 20px;
        height: 20px;
      }
      .form-check-label{
        color: #6D727B;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
      }
    }

    .form-label{
      width: 175px;
      margin-right: 32px;
      color: #6D727B;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
    }
    .form-control{
      border-radius: 16px;
      border: 1px solid var(--gray3, #989B9F);
      background: #FFF;
      color: #6D727B;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      padding: 10px 24px;
      min-height: 40px;
    }
    .group, .input-group{
      width: calc(100% - 187px)
    }
  }
}