// Customize your Bootstrap variables here
$primary: #1677FF;
$secondary: #BFBFBF;
$success: #52C41A;
$info: #BAE0FF;
$warning: #FAAD14;
$danger: #FF4D4F;
$light: #f8f9fa;
$dark: #212529;
$body-bg: #F0F0F0;
$body-color: #212529;


// bg
$bg-primary: #cde3ff;
$bg-success: #F6FFED;
$bg-warning: #fddeaa;
$bg-danger: #FFF1F0;

// Shadow
$color-shadow: rgba(0, 0, 0, 0.3);
$primary-background: #E6F7FF;
