.section-posts{
  .blog__sidebar-wrapper{
    position: sticky;
    top: 150px;
    @media only screen and (max-width: 767px) {
      position: relative;
      top: 0;
    }
  }

  .sidebar-wrapper{
    padding: 24px;
    box-shadow: 0px 0px 16px 8px rgba(200, 183, 255, 0.2);
  }
  .sidebar-title h3{

  }
  .sidebar-list ul li a{
    padding-left: 0;
    &::before{
      display: none;
    }
  }
  .postbox__content{
    padding: 0;
    .postbox__title{
      font-size: 30px;
    }
    .postbox__file{

    }
  }
}

.item-post {
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #fff;
  box-shadow: 0px 0px 16px 8px rgba(200, 183, 255, 0.2);
  border-radius: 8px;
  @media only screen and (max-width: 574px) {
    align-items: center;
  }
  .image {
    display: flex;
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: center;
      @media only screen and (max-width: 991px) {
        width: 200px;
        height: 200px;
      }
      @media only screen and (max-width: 574px) {
        width: 100px;
        height: 100%;
      }
    }
  }

  .content {
    flex: 1;
    padding: 24px;
    @media only screen and (max-width: 991px) {
      padding: 16px 16px 16px 16px;
    }
    @media only screen and (max-width: 574px) {
      padding: 16px 16px 16px 16px;
    }
    .calendar {
      margin-bottom: 5px;
      > * {
        font-size: 14px;
        font-weight: 400;
        @media only screen and (max-width: 991px) {
          font-size: 13px;
        }
        @media only screen and (max-width: 574px) {
          font-size: 12px;
        }
      }
    }
    .title {
      > * {
        font-weight: 600;
        color: #003b70;
        font-size: 18px;
        line-height: 1.4;
        user-select: none;
        @include line_text(3);
        @media only screen and (max-width: 991px) {
          font-size: 17px;
        }
        @media only screen and (max-width: 574px) {
          font-size: 17px;
        }
      }
    }
    .desc{
      @include line_text(4);
    }
  }
}

.contact__area{

}
