/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

textarea {
  resize: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
  color: unset;
  outline: none;
}

input {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 100;
  src: url("../fonts/SVN-Gilroy Thin.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 300;
  src: url("../fonts/SVN-Gilroy Light.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 400;
  src: url("../fonts/SVN-Gilroy Regular.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 500;
  src: url("../fonts/SVN-Gilroy Medium.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 600;
  src: url("../fonts/SVN-Gilroy SemiBold.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  src: url("../fonts/SVN-Gilroy Bold.otf");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 800;
  src: url("../fonts/SVN-Gilroy Black.otf");
}
:root {
  --star-size: 20px;
  --star-color: #d1d1d1;
  --star-background: #fc0;
}
@media (max-width: 1921px) {
  :root {
    --star-size: sizeP(20);
  }
}
@media (max-width: 991px) {
  :root {
    --star-size: size(20);
  }
}

.btn {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  color: #6D727B;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  transition: all 0.3s;
}
@media (max-width: 1441px) {
  .btn {
    padding: 0.8333333333vw 1.1111111111vw;
    border-radius: 0.8333333333vw;
    border: 0.0694444444vw solid #AFB5B9;
    font-size: 0.9722222222vw;
  }
}
.btn:hover {
  border: 1px solid #2196F3;
  background-color: #fff;
  color: #2196F3;
}
@media (max-width: 1441px) {
  .btn:hover {
    border: 0.0694444444vw solid #2196F3;
  }
}

.btn-default {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 16px;
}
@media (max-width: 1440px) {
  .btn-default {
    padding: 1.1111111111vw 2.2222222222vw;
    font-size: 1.1111111111vw;
    border-radius: 1.1111111111vw;
  }
}

.btn-default-primary {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 16px;
  background: #2196F3;
  color: #fff;
  border-color: #2196F3;
}
@media (max-width: 1440px) {
  .btn-default-primary {
    padding: 1.1111111111vw 2.2222222222vw;
    font-size: 1.1111111111vw;
    border-radius: 1.1111111111vw;
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}
/* width */
.pagination .page-item .page-link {
  color: #F39200;
}
.pagination .page-item .page-link.active {
  background-color: #F39200;
  border-color: #F39200;
  color: #fff;
}
.pagination .page-item .page-link:focus {
  box-shadow: unset;
}

.modal.modal_custom .modal-dialog .modal-header .modal-title {
  font-size: 17px;
  color: #6D6E71;
}
.modal.modal_custom .modal-dialog .modal-body .wrap_list_cate {
  margin-bottom: 20px;
  max-height: 40vh;
  overflow: auto;
  padding-left: 6px;
}
.modal.modal_custom .modal-dialog .modal-body .wrap_list_cate .form-check {
  margin-bottom: 10px;
}
.modal.modal_custom .modal-dialog .modal-body .wrap_list_cate .form-check .form-check-label {
  font-size: 16px;
  color: #6D6E71;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal.modal_custom .modal-dialog .modal-body .wrap_btn a {
  white-space: nowrap;
  padding: 6px 50px;
  border-radius: 12px;
  font-size: 16px;
}
.modal.modal_custom .modal-dialog .modal-body .wrap_btn a.btn_color {
  color: #fff;
  background-color: #94C459;
  border: 1px solid #F39200;
}

.swiper-button-prev, .swiper-button-next {
  width: 56px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
@media (max-width: 1441px) {
  .swiper-button-prev, .swiper-button-next {
    width: 3.8888888889vw;
    height: 6.9444444444vw;
    box-shadow: 0px 0.2777777778vw 0.2777777778vw 0px rgba(0, 0, 0, 0.25);
  }
}
.swiper-button-prev svg, .swiper-button-next svg {
  width: 40px;
  height: 40px;
}
@media (max-width: 991px) {
  .swiper-button-prev svg, .swiper-button-next svg {
    width: 2.7777777778vw;
    height: 2.7777777778vw;
  }
}
.swiper-button-prev svg path, .swiper-button-next svg path {
  transition: all 0.3s;
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  border-radius: 0px 8px 8px 0px;
  left: 0;
}
@media (max-width: 1441px) {
  .swiper-button-prev {
    border-radius: 0px 0.5555555556vw 0.5555555556vw 0px;
  }
}

.swiper-button-next {
  border-radius: 8px 0px 0px 8px;
  right: 0;
}
@media (max-width: 1441px) {
  .swiper-button-next {
    border-radius: 0.5555555556vw 0px 0px 0.5555555556vw;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  background-color: #fff;
  border: 1px solid #2196F3;
  transition: all 0.3s;
}
@media (max-width: 1441px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 0.8333333333vw;
    height: 0.8333333333vw;
    margin-right: 1.1111111111vw;
    border: 0.0694444444vw solid #2196F3;
  }
}
.swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #2196F3;
}

.form-control, .form-select {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #989B9F;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  min-height: 52px;
}
@media (max-width: 1441px) {
  .form-control, .form-select {
    font-size: 1.1111111111vw;
    padding: 1.1111111111vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #989B9F;
    min-height: 3.6111111111vw;
  }
}

.lb-btn-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px;
  min-width: 125px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9D9D9C;
  background: #FFF;
}
@media (max-width: 1441px) {
  .lb-btn-social {
    padding: 0.7638888889vw;
    min-width: 8.6805555556vw;
    border-radius: 0.5555555556vw;
    border: 0.0694444444vw solid #9D9D9C;
    height: 3.3333333333vw;
  }
}
.lb-btn-social img {
  height: 20px;
  width: auto;
}
@media (max-width: 1441px) {
  .lb-btn-social img {
    height: 1.3888888889vw;
  }
}
.lb-btn-social img.messenger {
  height: 36px;
}
@media (max-width: 1441px) {
  .lb-btn-social img.messenger {
    height: 2.5vw;
  }
}
.lb-btn-social img.viper {
  height: 28px;
}
@media (max-width: 1441px) {
  .lb-btn-social img.viper {
    height: 1.9444444444vw;
  }
}
.lb-btn-social img.whatsapp {
  height: 20px;
}
@media (max-width: 1441px) {
  .lb-btn-social img.whatsapp {
    height: 1.3888888889vw;
  }
}
.lb-btn-social img.zalo {
  height: 18px;
}
@media (max-width: 1441px) {
  .lb-btn-social img.zalo {
    height: 1.25vw;
  }
}
.lb-btn-social img.gmail {
  height: 24px;
}
@media (max-width: 1441px) {
  .lb-btn-social img.gmail {
    height: 1.6666666667vw;
  }
}

.lb-large {
  padding: 35px 160px;
  display: inline-block;
  color: #6D727B;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
}
@media (max-width: 1441px) {
  .lb-large {
    padding: 2.4305555556vw 11.1111111111vw;
    font-size: 1.3888888889vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #AFB5B9;
  }
}

.lb-small {
  display: inline-block;
  padding: 20px;
  color: #6D727B;
  font-size: 20px;
  font-weight: 700;
  line-height: 1; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  white-space: nowrap;
}
@media (max-width: 1441px) {
  .lb-small {
    padding: 1.3888888889vw;
    font-size: 1.3888888889vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #AFB5B9;
  }
}
.lb-small.active, .lb-small:hover {
  background: #EEE;
  color: #2196F3;
}
.lb-small.active svg path[fill="#6D727B"], .lb-small:hover svg path[fill="#6D727B"] {
  fill: #2196F3;
}
.lb-small.active svg path[stroke="#6D727B"], .lb-small:hover svg path[stroke="#6D727B"] {
  stroke: #2196F3;
}

.lb-xsmall {
  display: inline-block;
  padding: 16px;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 1; /* 150% */
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  white-space: nowrap;
}
@media (max-width: 1441px) {
  .lb-xsmall {
    padding: 1.1111111111vw;
    font-size: 1.1111111111vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #AFB5B9;
  }
}
.lb-xsmall img, .lb-xsmall svg {
  margin-top: -2px;
  width: 20px;
  height: auto;
  margin-left: 8px;
}
@media (max-width: 1441px) {
  .lb-xsmall img, .lb-xsmall svg {
    margin-top: -0.1388888889vw;
    width: 1.3888888889vw;
    margin-left: 0.5555555556vw;
  }
}
.lb-xsmall img path, .lb-xsmall svg path {
  transition: all 0.3s;
}
.lb-xsmall.active, .lb-xsmall:hover {
  background: #EEE;
  color: #2196F3;
}
.lb-xsmall.active svg path[fill="#6D727B"], .lb-xsmall:hover svg path[fill="#6D727B"] {
  fill: #2196F3;
}
.lb-xsmall.active svg path[stroke="#6D727B"], .lb-xsmall:hover svg path[stroke="#6D727B"] {
  stroke: #2196F3;
}

.lb-text {
  color: #989B9F;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1441px) {
  .lb-text {
    font-size: 1.1111111111vw;
  }
}
.lb-text span {
  color: #6D727B;
}

.pd-16 {
  padding: 16px;
}
@media (max-width: 1441px) {
  .pd-16 {
    padding: 1.1111111111vw;
  }
}

.pd-s-16 {
  padding-left: 16px;
}
@media (max-width: 1441px) {
  .pd-s-16 {
    padding-left: 1.1111111111vw;
  }
}

.pd-e-16 {
  padding-right: 16px;
}
@media (max-width: 1441px) {
  .pd-e-16 {
    padding-right: 1.1111111111vw;
  }
}

.wrap_list_link_lb .list_link_lb {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
@media (max-width: 1440px) {
  .wrap_list_link_lb .list_link_lb {
    margin: 0 -1.1111111111vw;
  }
}
.wrap_list_link_lb .list_link_lb > * {
  padding: 0 16px;
}
@media (max-width: 1440px) {
  .wrap_list_link_lb .list_link_lb > * {
    padding: 0 1.1111111111vw;
  }
}
.wrap_list_link_lb .list_link_lb .list_link_item {
  margin-bottom: 32px;
  flex: 1 1 25%;
  max-width: 25%;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .wrap_list_link_lb .list_link_lb .list_link_item {
    margin-bottom: 2.2222222222vw;
  }
}
.wrap_list_link_lb .list_link_lb .list_link_item .lb-link {
  width: 100%;
  text-align: center;
  transition: all 0.3s;
}
.wrap_list_link_lb .list_link_lb .list_link_item .lb-link.active, .wrap_list_link_lb .list_link_lb .list_link_item .lb-link:hover {
  background: #EEE;
  color: #2196F3;
}
.wrap_list_link_lb .list_link_lb .list_link_item.list_link_item_50 {
  flex: 1 1 50%;
  max-width: 50%;
}

.wrap_table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .wrap_table table {
    border-radius: 0.5555555556vw;
  }
}
.wrap_table table thead th {
  background-color: #2196F3;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #2196F3;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .wrap_table table thead th {
    padding: 1.3888888889vw;
    border-bottom: 0.0694444444vw solid #2196F3;
    font-size: 1.1111111111vw;
  }
}
.wrap_table table thead th.sorting::before, .wrap_table table thead th.sorting::after {
  content: none;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
}
.wrap_table table thead th.sorting::before {
  content: "";
  position: absolute;
  right: 18px;
  width: 14px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20" fill="none"> <path d="M6.79522 3.02978L6.44167 2.67622L6.08811 3.02978L3.42978 5.68811C3.40825 5.70964 3.37752 5.72292 3.34167 5.72292C3.30582 5.72292 3.27508 5.70964 3.25355 5.68811C3.23203 5.66659 3.21875 5.63585 3.21875 5.6C3.21875 5.56415 3.23203 5.53342 3.25355 5.51189L6.35358 2.41186C6.37753 2.38791 6.40909 2.375 6.44167 2.375C6.47429 2.375 6.50588 2.38794 6.5298 2.41186C6.5298 2.41186 6.5298 2.41186 6.5298 2.41186L9.62978 5.51189L9.62978 5.51189C9.65131 5.53342 9.66458 5.56415 9.66458 5.6C9.66458 5.63585 9.65131 5.66659 9.62978 5.68811C9.6151 5.70279 9.60106 5.71123 9.58823 5.7164C9.57492 5.72175 9.5594 5.72498 9.54169 5.72498C9.52398 5.72498 9.50844 5.72175 9.49511 5.71638C9.48225 5.71121 9.46821 5.70277 9.45356 5.68811L6.79522 3.02978Z" fill="white" stroke="white"/> <path d="M6.44141 17.625C6.41126 17.625 6.37998 17.6127 6.35433 17.5871C6.32869 17.5614 6.31641 17.5301 6.31641 17.5V2.5C6.31641 2.46985 6.32869 2.43857 6.35433 2.41293C6.37998 2.38728 6.41126 2.375 6.44141 2.375C6.47155 2.375 6.50283 2.38728 6.52848 2.41293C6.55412 2.43857 6.56641 2.46985 6.56641 2.5V17.5C6.56641 17.5301 6.55412 17.5614 6.52848 17.5871C6.50283 17.6127 6.47155 17.625 6.44141 17.625Z" fill="white" stroke="white"/> </svg>');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}
@media (max-width: 1440px) {
  .wrap_table table thead th.sorting::before {
    right: 1.25vw;
    width: 0.9722222222vw;
    height: 1.3888888889vw;
  }
}
.wrap_table table thead th.sorting::after {
  content: "";
  position: absolute;
  right: 8px;
  width: 14px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20" fill="none"><path transform="translate(-8, 0)" d="M15.2346 18.125C15.068 18.125 14.9096 18.0584 14.7929 17.9417L11.693 14.8417C11.4513 14.6 11.4513 14.2 11.693 13.9583C11.9346 13.7167 12.3346 13.7167 12.5763 13.9583L15.2346 16.6167L17.8929 13.9583C18.1346 13.7167 18.5346 13.7167 18.7763 13.9583C19.018 14.2 19.018 14.6 18.7763 14.8417L15.6763 17.9417C15.5596 18.0584 15.393 18.125 15.2346 18.125Z" fill="white"/><path transform="translate(-8, 0)" d="M15.2266 18.125C14.8849 18.125 14.6016 17.8417 14.6016 17.5V2.5C14.6016 2.15833 14.8849 1.875 15.2266 1.875C15.5682 1.875 15.8516 2.15833 15.8516 2.5V17.5C15.8516 17.8417 15.5766 18.125 15.2266 18.125Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}
@media (max-width: 1440px) {
  .wrap_table table thead th.sorting::after {
    right: 0.5555555556vw;
    width: 0.9722222222vw;
    height: 1.3888888889vw;
  }
}
.wrap_table table tbody tr {
  background-color: #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
}
@media (max-width: 1440px) {
  .wrap_table table tbody tr {
    border-bottom: 0.0694444444vw solid #F7F7F7;
  }
}
.wrap_table table tbody tr.selected, .wrap_table table tbody tr:hover {
  background-color: #DBEEFD;
}
.wrap_table table tbody td {
  padding: 20px;
  vertical-align: middle;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .wrap_table table tbody td {
    padding: 1.3888888889vw;
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
  }
}
.wrap_table table tbody td a:hover {
  color: #2196F3;
}
.wrap_table table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
.wrap_table table tbody tr.selected td {
  background-color: #d6ebff;
}
.wrap_table table tbody tr:hover td {
  background-color: #d6ebff;
}
.wrap_table table.no-footer {
  border-bottom: none;
}

.wrap_card {
  padding: 32px 60px;
  border-radius: 16px;
  background: #F7F7F7;
  margin-bottom: 24px;
}
@media (max-width: 1440px) {
  .wrap_card {
    padding: 2.2222222222vw 4.1666666667vw;
    border-radius: 1.1111111111vw;
  }
}
.wrap_card .wrap_card_head {
  margin-bottom: 24px;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_head {
    margin-bottom: 1.6666666667vw;
  }
}
.wrap_card .wrap_card_head .title {
  color: #343434;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_head .title {
    font-size: 1.3888888889vw;
  }
}
.wrap_card .wrap_card_head .lb-text-link {
  color: #6D727B;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_head .lb-text-link {
    font-size: 0.9722222222vw;
  }
}
.wrap_card .wrap_card_head .lb-text-link svg {
  width: 16px;
  height: auto;
  margin-left: 8px;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_head .lb-text-link svg {
    width: 1.1111111111vw;
    margin-left: 0.5555555556vw;
  }
}
.wrap_card .wrap_card_head .lb-text-link svg path {
  transition: all 0.3s;
}
.wrap_card .wrap_card_head .lb-text-link img {
  width: 16px;
  height: auto;
  margin-left: 8px;
  margin-top: 2px;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_head .lb-text-link img {
    width: 1.1111111111vw;
    margin-left: 0.5555555556vw;
    margin-top: 0.1388888889vw;
  }
}
.wrap_card .wrap_card_body .w_info {
  margin-bottom: 24px;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_body .w_info {
    margin-bottom: 1.6666666667vw;
  }
}
.wrap_card .wrap_card_body .w_info .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.wrap_card .wrap_card_body .w_info .info .label {
  width: 160px;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  margin-right: 32px;
}
.wrap_card .wrap_card_body .w_info .info .text {
  width: calc(100% - 192px);
  color: #6D727B;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.wrap_card .wrap_card_body .w_send_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.wrap_card .wrap_card_body .w_send_social .form-group {
  width: 233px;
}
@media (max-width: 1440px) {
  .wrap_card .wrap_card_body .w_send_social .form-group {
    width: 16.1805555556vw;
  }
}
.wrap_card .wrap_card_body .w_social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap_card .wrap_card_body .w_social .lb-btn-social {
  margin-right: 32px;
}
.wrap_card .wrap_card_body .w_social .lb-btn-social:last-child {
  margin-right: 0;
}

.bl_home {
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1440px) {
  .bl_home {
    font-size: 1.3888888889vw;
  }
}
@media (max-width: 991px) {
  .bl_home {
    font-size: 3.7333333333vw;
  }
}
.bl_home .header {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1440px) {
  .bl_home .header {
    box-shadow: 0px 0.8333333333vw 1.6666666667vw 0px rgba(0, 0, 0, 0.12);
  }
}
.bl_home .header .wrapper {
  height: 88px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrapper {
    height: 6.1111111111vw;
  }
}
.bl_home .header .wrap_left .btn-menu {
  margin-right: 8px;
}
.bl_home .header .wrap_left .btn-menu img, .bl_home .header .wrap_left .btn-menu svg {
  width: 20px;
  height: auto;
}
.bl_home .header .wrap_left .logo {
  display: block;
}
.bl_home .header .wrap_left .logo img {
  width: auto;
  height: 56px;
  display: block;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_left .logo img {
    height: 3.8888888889vw;
  }
}
.bl_home .header .wrap_menu .nav .nav-item {
  margin-right: 24px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_menu .nav .nav-item {
    margin-right: 1.6666666667vw;
  }
}
.bl_home .header .wrap_menu .nav .nav-item:last-child {
  margin-right: 0;
}
.bl_home .header .wrap_menu .nav .nav-item .nav-link {
  color: #6D727B;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  padding: 12px;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_menu .nav .nav-item .nav-link {
    font-size: 1.3888888889vw;
    padding: 0.8333333333vw;
  }
}
.bl_home .header .wrap_menu .nav .nav-item .nav-link:hover {
  color: #2196F3;
}
.bl_home .header .wrap_right > * {
  margin-right: 16px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_right > * {
    margin-right: 1.1111111111vw;
  }
}
.bl_home .header .wrap_right > *:last-child {
  margin-right: 0;
}
.bl_home .header .wrap_right .w_lang .btn_change_lang {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bl_home .header .wrap_right .w_lang .btn_change_lang::after {
  display: none;
}
.bl_home .header .wrap_right .w_lang .btn_change_lang .flag {
  width: 47.761px;
  height: 32px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_right .w_lang .btn_change_lang .flag {
    width: 3.3167361111vw;
    height: 2.2222222222vw;
    border-radius: 0.2777777778vw;
    margin-right: 0.5555555556vw;
  }
}
.bl_home .header .wrap_right .w_lang .btn_change_lang .arrow {
  width: 24px;
  height: 24px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_right .w_lang .btn_change_lang .arrow {
    width: 1.6666666667vw;
    height: auto;
  }
}
.bl_home .header .wrap_right .w_lang .dropdown-menu .dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bl_home .header .wrap_right .w_lang .dropdown-menu .dropdown-item .flag {
  width: 47.761px;
  height: 32px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_right .w_lang .dropdown-menu .dropdown-item .flag {
    width: 3.3167361111vw;
    height: 2.2222222222vw;
    border-radius: 0.2777777778vw;
    margin-right: 0.5555555556vw;
  }
}
.bl_home .header .wrap_right .w_lang .dropdown-menu .dropdown-item span {
  color: #6D727B;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .bl_home .header .wrap_right .w_lang .dropdown-menu .dropdown-item span {
    font-size: 1.0416666667vw;
  }
}
.bl_home .container-main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 72px;
}
@media (max-width: 1440px) {
  .bl_home .container-main {
    max-width: 100%;
    padding: 0 4.8611111111vw;
  }
}
.bl_home .main {
  min-height: 100vh;
}
.bl_home .main .row {
  margin: 0 -16px;
}
@media (max-width: 1440px) {
  .bl_home .main .row {
    margin: 0 -1.1111111111vw;
  }
}
.bl_home .main .row > * {
  padding: 0 16px;
}
@media (max-width: 1440px) {
  .bl_home .main .row > * {
    padding: 0 1.1111111111vw;
  }
}
.bl_home .section-padding-top {
  padding-top: 80px;
}
@media (max-width: 1440px) {
  .bl_home .section-padding-top {
    padding-top: 5.5555555556vw;
  }
}
.bl_home .section-padding-bottom {
  padding-bottom: 80px;
}
@media (max-width: 1440px) {
  .bl_home .section-padding-bottom {
    padding-bottom: 5.5555555556vw;
  }
}
.bl_home .section_title .title {
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_title .title {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_title .title > * {
  color: #6D727B;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .bl_home .section_title .title > * {
    font-size: 2.0833333333vw;
  }
}
.bl_home .section_title .text_link {
  color: #2196F3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1440px) {
  .bl_home .section_title .text_link {
    font-size: 1.1111111111vw;
  }
}
.bl_home .section_banner {
  overflow: hidden;
}
.bl_home .section_banner .wrapper {
  position: relative;
  padding-bottom: 36px;
}
@media (max-width: 1440px) {
  .bl_home .section_banner .wrapper {
    padding-bottom: 2.5vw;
  }
}
.bl_home .section_banner .wrapper .item-banner {
  display: block;
}
.bl_home .section_banner .wrapper .item-banner img {
  display: block;
  width: 100%;
  height: 540px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1440px) {
  .bl_home .section_banner .wrapper .item-banner img {
    height: 37.5vw;
  }
}
.bl_home .section_banner .wrapper .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bl_home .section_about {
  padding: 80px 0;
}
@media (max-width: 1440px) {
  .bl_home .section_about {
    padding: 5.5555555556vw 0;
  }
}
.bl_home .section_about .wrap_content .title {
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_about .wrap_content .title {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_about .wrap_content .title > * {
  color: #6D727B;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .bl_home .section_about .wrap_content .title > * {
    font-size: 2.0833333333vw;
  }
}
.bl_home .section_about .wrap_content .title > * span {
  color: #2196F3;
}
.bl_home .section_about .wrap_content .content {
  color: #43464D;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_about .wrap_content .content {
    font-size: 1.3888888889vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_about .wrap_content .content p {
  margin-bottom: 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_about .wrap_content .content p {
    margin-bottom: 1.1111111111vw;
  }
}
.bl_home .section_about .images img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 5px 10px 24px 0px rgba(0, 0, 0, 0.24);
}
@media (max-width: 1440px) {
  .bl_home .section_about .images img {
    border-radius: 1.1111111111vw;
    box-shadow: 0.3472222222vw 0.6944444444vw 1.6666666667vw 0px rgba(0, 0, 0, 0.24);
  }
}
.bl_home .section_partner {
  padding-bottom: 80px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner {
    padding-bottom: 5.5555555556vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner {
  overflow: auto;
  margin-bottom: 30px;
  padding-bottom: 2px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner {
    padding-bottom: 0.1388888889vw;
    margin-bottom: 2.0833333333vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav {
  width: max-content;
  padding-bottom: 32px;
  border-bottom: 1px solid #AFB5B9;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav {
    padding-bottom: 2.2222222222vw;
    border-bottom: 0.0694444444vw solid #AFB5B9;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item {
  margin-right: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item {
    margin-right: 2.2222222222vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item:last-child {
  margin-right: 0;
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link {
  width: 189px;
  height: 100px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #D5D7DB;
  background: #FFF;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link {
    width: 12.8472222222vw;
    height: 6.9444444444vw;
    padding: 0.5555555556vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #D5D7DB;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link:after {
  transition: all 0.3s;
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link img {
  width: auto;
  height: 52px;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link img {
    height: 3.6111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link.active, .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link:hover {
  border-radius: 16px;
  border: 1px solid #2196F3;
  box-shadow: 5px 10px 16px 0px rgba(33, 150, 243, 0.4);
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link.active, .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link:hover {
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #2196F3;
    box-shadow: 0.3472222222vw 0.6944444444vw 1.1111111111vw 0px rgba(33, 150, 243, 0.4);
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link.active:after, .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link:hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #2196F3;
  bottom: -35px;
  left: 0;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link.active:after, .bl_home .section_partner .section_content .wrapper .wrap_nav_partner .nav .nav-item .nav-link:hover:after {
    height: 0.2083333333vw;
    width: 100%;
    background-color: #2196F3;
    bottom: -2.4305555556vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product {
  margin-bottom: 60px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product {
    margin-bottom: 4.1666666667vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .row {
  margin: 0 -16px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product .row {
    margin: 0 -1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .row > * {
  padding: 0 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product .row > * {
    padding: 0 1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item {
  width: 189px;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item {
    width: 13.125vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .image {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #EEE;
  background: #FFF;
  height: 189px;
  text-align: center;
  margin-bottom: 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .image {
    padding: 1.1111111111vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #EEE;
    height: 13.125vw;
    margin-bottom: 1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .image a {
  display: block;
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .image a img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .name a {
  transition: all 0.3s;
  color: #343434;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item .name a {
    font-size: 1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_product .wrap_list .item:hover .name a {
  color: #2196F3;
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider {
  width: 466px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider {
    width: 32.3611111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-detail {
  margin-bottom: 32px;
  border-radius: 16px;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-detail {
    margin-bottom: 2.2222222222vw;
    border-radius: 1.1111111111vw;
    box-shadow: 0.3472222222vw 0.6944444444vw 1.3888888889vw 0px rgba(0, 0, 0, 0.25);
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-detail .image {
  display: flex;
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-detail .image img {
  height: 433px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-detail .image img {
    height: 30.0694444444vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-container-thumbs .image-thumb img {
  width: 100%;
  height: 92px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_images_slider .swiper-container-thumbs .image-thumb img {
    height: 6.3888888889vw;
    border-radius: 1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content {
  width: calc(100% - 498px);
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content {
    width: calc(100% - 34.5833333333vw);
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .title {
  color: #2196F3;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%; /* 52.8px */
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .title {
    font-size: 3.0555555556vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .content {
  color: #43464D;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .content {
    font-size: 1.3888888889vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .content p {
  margin-bottom: 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .content p {
    margin-bottom: 1.1111111111vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn .wrap_btn_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn .wrap_btn_left .btn {
  margin-right: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn .wrap_btn_left .btn {
    margin-right: 2.2222222222vw;
  }
}
.bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn .btn {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_partner .section_content .wrapper .wrap_content_partner .wrap_content .wrap_btn .btn {
    padding: 1.1111111111vw 2.2222222222vw;
    font-size: 1.1111111111vw;
    border-radius: 1.1111111111vw;
  }
}
.bl_home .section_cooperate {
  padding-bottom: 80px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate {
    padding-bottom: 5.5555555556vw;
  }
}
.bl_home .section_cooperate .section_content .item {
  position: relative;
  transition: all 0.3s;
}
.bl_home .section_cooperate .section_content .item:nth-child(odd) {
  padding-left: 60px;
  padding-right: 212px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item:nth-child(odd) {
    padding-left: 4.1666666667vw;
    padding-right: 14.7222222222vw;
  }
}
.bl_home .section_cooperate .section_content .item:nth-child(even) {
  padding-right: 60px;
  padding-left: 212px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item:nth-child(even) {
    padding-right: 4.1666666667vw;
    padding-left: 14.7222222222vw;
  }
}
.bl_home .section_cooperate .section_content .item:nth-child(1) {
  z-index: 20;
}
.bl_home .section_cooperate .section_content .item:nth-child(2) {
  z-index: 19;
}
.bl_home .section_cooperate .section_content .item:nth-child(3) {
  z-index: 18;
}
.bl_home .section_cooperate .section_content .item:nth-child(4) {
  z-index: 17;
}
.bl_home .section_cooperate .section_content .item:nth-child(5) {
  z-index: 16;
}
.bl_home .section_cooperate .section_content .item:nth-child(6) {
  z-index: 15;
}
.bl_home .section_cooperate .section_content .item:nth-child(7) {
  z-index: 14;
}
.bl_home .section_cooperate .section_content .item:nth-child(8) {
  z-index: 13;
}
.bl_home .section_cooperate .section_content .item:nth-child(9) {
  z-index: 12;
}
.bl_home .section_cooperate .section_content .item:nth-child(10) {
  z-index: 11;
}
.bl_home .section_cooperate .section_content .item:nth-child(11) {
  z-index: 10;
}
.bl_home .section_cooperate .section_content .item:nth-child(12) {
  z-index: 9;
}
.bl_home .section_cooperate .section_content .item:nth-child(13) {
  z-index: 8;
}
.bl_home .section_cooperate .section_content .item:nth-child(14) {
  z-index: 7;
}
.bl_home .section_cooperate .section_content .item:nth-child(15) {
  z-index: 6;
}
.bl_home .section_cooperate .section_content .item:nth-child(16) {
  z-index: 5;
}
.bl_home .section_cooperate .section_content .item:nth-child(17) {
  z-index: 4;
}
.bl_home .section_cooperate .section_content .item:nth-child(18) {
  z-index: 3;
}
.bl_home .section_cooperate .section_content .item:nth-child(19) {
  z-index: 2;
}
.bl_home .section_cooperate .section_content .item:nth-child(20) {
  z-index: 1;
}
.bl_home .section_cooperate .section_content .item .wrap {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 10px 32px 64px 0px rgba(0, 0, 0, 0.16);
  padding: 32px 60px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item .wrap {
    padding: 2.2222222222vw 4.1666666667vw;
    border-radius: 1.1111111111vw;
    box-shadow: 0.6944444444vw 2.2222222222vw 4.4444444444vw 0px rgba(0, 0, 0, 0.16);
  }
}
.bl_home .section_cooperate .section_content .item .wrap .image img {
  width: 258px;
  height: 258px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item .wrap .image img {
    border-radius: 1.1111111111vw;
    width: 17.9166666667vw;
    height: 17.9166666667vw;
  }
}
.bl_home .section_cooperate .section_content .item .wrap .content {
  width: calc(100% - 298px);
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item .wrap .content {
    width: calc(100% - 20.6944444444vw);
  }
}
.bl_home .section_cooperate .section_content .item .wrap .content .title {
  color: #4CAF50;
  font-size: 27px;
  font-weight: 700;
  line-height: 120%; /* 32.4px */
  margin-bottom: 24px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item .wrap .content .title {
    font-size: 1.875vw;
    margin-bottom: 1.6666666667vw;
  }
}
.bl_home .section_cooperate .section_content .item .wrap .content .desc {
  color: #43464D;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1440px) {
  .bl_home .section_cooperate .section_content .item .wrap .content .desc {
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
  }
}
.bl_home .section_cooperate .section_content .item:hover {
  z-index: 22;
}
.bl_home .section_trans_partner {
  padding-bottom: 80px;
  background: linear-gradient(180deg, #FFF 0%, #ECFAFF 11.17%, #CDE3EB 21.17%, #599BB3 33%, #25647C 45.5%, #0E4C63 57.5%, #4A9AB7 74.17%, rgba(71, 149, 199, 0.24) 88.17%, rgba(33, 150, 243, 0.13) 100%);
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner {
    padding-bottom: 5.5555555556vw;
  }
}
.bl_home .section_trans_partner .section_content {
  margin-bottom: 72px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content {
    margin-bottom: 5vw;
  }
}
.bl_home .section_trans_partner .section_content .description {
  max-width: 888.5px;
  margin: auto;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%; /* 30px */
  padding: 24px 32px;
  border-radius: 16px;
  background: #3B91B2;
  box-shadow: 5px 10px 24px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 72px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .description {
    max-width: 61.6666666667vw;
    font-size: 1.3888888889vw;
    padding: 1.6666666667vw 2.2222222222vw;
    border-radius: 1.1111111111vw;
    box-shadow: 0.3472222222vw 0.6944444444vw 1.6666666667vw 0px rgba(255, 255, 255, 0.5);
    margin-bottom: 5vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img {
  height: 628px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img {
    height: 43.6111111111vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img img {
  width: 461px;
  height: 461px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img img {
    width: 32.0138888889vw;
    height: 32.0138888889vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text {
  padding: 20px 32px;
  background-color: transparent;
  position: absolute;
  border: 1px solid #FFF;
  border-radius: 16px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text {
    padding: 1.3888888889vw 2.2222222222vw;
    border: 0.0694444444vw solid #FFF;
    border-radius: 1.1111111111vw;
    font-size: 1.3888888889vw;
    line-height: 2.0833333333vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:hover {
  text-shadow: 2px 4px 8px #FFF;
  box-shadow: 2px 4px 8px 0px #FFF;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:hover {
    text-shadow: 0.1388888889vw 0.2777777778vw 0.5555555556vw #FFF;
    box-shadow: 0.1388888889vw 0.2777777778vw 0.5555555556vw 0px #FFF;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(2) {
  top: 115px;
  right: 837px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(2) {
    top: 7.9861111111vw;
    right: 58.125vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
  right: 899px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(3) {
    right: 62.4305555556vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(4) {
  top: 456px;
  right: 844px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(4) {
    top: 31.6666666667vw;
    right: 58.6111111111vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(5) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(6) {
  top: 456px;
  left: 844px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(6) {
    top: 31.6666666667vw;
    left: 58.6111111111vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(7) {
  top: 50%;
  transform: translateY(-50%);
  left: 899px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(7) {
    left: 62.4305555556vw;
  }
}
.bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(8) {
  top: 115px;
  left: 837px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .section_content .wrap_img .text:nth-child(8) {
    top: 7.9861111111vw;
    left: 58.125vw;
  }
}
.bl_home .section_trans_partner .wrap_btn_info {
  text-align: center;
}
.bl_home .section_trans_partner .wrap_btn_info a {
  display: inline-block;
  padding: 16px 32px;
  background-color: #3B91B2;
  border: 1px solid #FFF;
  border-radius: 16px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .bl_home .section_trans_partner .wrap_btn_info a {
    padding: 1.1111111111vw 2.2222222222vw;
    border: 0.0694444444vw solid #FFF;
    border-radius: 1.1111111111vw;
    font-size: 1.1111111111vw;
    line-height: 1.3888888889vw;
  }
}
.bl_home .section_contact {
  background: linear-gradient(180deg, rgba(33, 150, 243, 0.13) 0%, rgba(33, 150, 243, 0.06) 100%);
  padding-bottom: 40px;
}
@media (max-width: 1440px) {
  .bl_home .section_contact {
    padding-bottom: 2.7777777778vw;
  }
}
.bl_home .section_contact .wrap_form {
  max-width: 832px;
  margin: auto;
}
@media (max-width: 1440px) {
  .bl_home .section_contact .wrap_form {
    max-width: 57.7777777778vw;
  }
}
.bl_home .section_contact .wrap_form .form-group {
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section_contact .wrap_form .form-group {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_contact .wrap_form .form-group .form-control {
  border-radius: 16px;
  border: 1px solid #989B9F;
  background: #FFF;
  padding: 14px 24px;
  color: #989B9F;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .bl_home .section_contact .wrap_form .form-group .form-control {
    padding: 0.9722222222vw 1.6666666667vw;
    font-size: 1.3888888889vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #989B9F;
    padding: 0.9722222222vw 1.6666666667vw;
  }
}
.bl_home .section_contact .wrap_form .form-group .btn {
  padding: 16px 58px;
  border-radius: 16px;
  border: 1px solid #AFB5B9;
  background: #FFF;
  color: #6D727B;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .bl_home .section_contact .wrap_form .form-group .btn {
    padding: 1.1111111111vw 4.0277777778vw;
    border-radius: 1.1111111111vw;
    border: 0.0694444444vw solid #AFB5B9;
    font-size: 1.1111111111vw;
    line-height: 1.3888888889vw;
  }
}
.bl_home .section-about-detail .wrapper {
  width: 872px;
  margin: auto;
}
@media (max-width: 1440px) {
  .bl_home .section-about-detail .wrapper {
    width: 60.5555555556vw;
  }
}
.bl_home .section-about-detail .wrapper .section_title {
  color: #2196F3;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
  text-align: center;
}
@media (max-width: 1440px) {
  .bl_home .section-about-detail .wrapper .section_title {
    font-size: 2.0833333333vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section-about-detail .wrapper .section_content .content {
  color: #43464D;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .section-about-detail .wrapper .section_content .content {
    font-size: 1.3888888889vw;
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section-about-detail .wrapper .section_content .content p {
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .bl_home .section-about-detail .wrapper .section_content .content p {
    margin-bottom: 1.3888888889vw;
  }
}
.bl_home .section-about-detail .wrapper .section_content .image img {
  width: 100%;
}
.bl_home .section_link_data .wrapper {
  padding: 56px 0;
  border-bottom: 1px solid #D5D7DB;
}
@media (max-width: 1441px) {
  .bl_home .section_link_data .wrapper {
    padding: 3.8888888889vw 0;
    border-bottom: 0.0694444444vw solid #D5D7DB;
  }
}
.bl_home .section_link_data .wrapper .title {
  margin-bottom: 32px;
}
@media (max-width: 1441px) {
  .bl_home .section_link_data .wrapper .title {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .section_admin, .bl_home .section_data_customer {
  padding: 48px 0;
}
@media (max-width: 1441px) {
  .bl_home .section_admin, .bl_home .section_data_customer {
    padding: 3.3333333333vw 0;
  }
}
.bl_home .wrap_list_action {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1441px) {
  .bl_home .wrap_list_action {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .wrap_list_action > * {
  margin-right: 32px;
}
@media (max-width: 1441px) {
  .bl_home .wrap_list_action > * {
    margin-right: 2.2222222222vw;
  }
}
.bl_home .wrap_list_action.wrap_list_action_bw {
  justify-content: space-between;
}
.bl_home .wrap_list_action.wrap_list_action_bw > * {
  margin-right: 0;
}
.bl_home .footer .footer_top {
  padding: 40px 0;
  background: linear-gradient(0deg, rgba(33, 150, 243, 0.2) 0%, rgba(33, 150, 243, 0.2) 100%), #FFF;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top {
    padding: 2.7777777778vw 0;
  }
}
.bl_home .footer .footer_top .wrapper .wrapper-left {
  width: calc(100% - 444px);
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .wrapper-left {
    width: calc(100% - 30.8333333333vw);
  }
}
.bl_home .footer .footer_top .wrapper .wrapper-left .row {
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .wrapper-left .row {
    margin-bottom: 2.2222222222vw;
  }
}
.bl_home .footer .footer_top .wrapper .wrap_info {
  color: #6D727B;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .wrap_info {
    font-size: 1.1111111111vw;
  }
}
.bl_home .footer .footer_top .wrapper .wrap_info ul li {
  margin-bottom: 8px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .wrap_info ul li {
    margin-bottom: 0.5555555556vw;
  }
}
.bl_home .footer .footer_top .wrapper .wrap_info ul li:last-child {
  margin-bottom: 0;
}
.bl_home .footer .footer_top .wrapper .wrap_info ul li a.btn_change_lang svg {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .wrap_info ul li a.btn_change_lang svg {
    margin-left: 0.3472222222vw;
    width: 1.6666666667vw;
    height: 1.6666666667vw;
  }
}
.bl_home .footer .footer_top .wrapper .wrap_info ul li a.btn_change_lang:after {
  display: none;
}
.bl_home .footer .footer_top .wrapper .social > * {
  margin-right: 16px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .social > * {
    margin-right: 1.1111111111vw;
  }
}
.bl_home .footer .footer_top .wrapper .social > * img {
  width: auto;
  height: 56px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .social > * img {
    height: 3.8888888889vw;
  }
}
.bl_home .footer .footer_top .wrapper .social > *.text {
  color: #6D727B;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .social > *.text {
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
  }
}
.bl_home .footer .footer_top .wrapper .map img {
  width: 420px;
  max-width: 100%;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_top .wrapper .map img {
    width: 29.1666666667vw;
  }
}
.bl_home .footer .footer_bottom {
  padding: 12px 0;
  background: #2196F3;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_bottom {
    padding: 0.8333333333vw 0;
  }
}
.bl_home .footer .footer_bottom .copyright {
  text-align: right;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .bl_home .footer .footer_bottom .copyright {
    font-size: 0.9722222222vw;
    line-height: 1.3888888889vw;
  }
}

/*# sourceMappingURL=app.css.map */
